
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="title-up"> Utility Bill Details </h4>
            <center>
              <%=image_tag("electricity.png") %>
            </center>
            <br>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Amount </span>
              </div>
              <div class="col-md-7">
                <%= number_to_currency @utility_bill.amount %>
              </div>
            </div>
             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Payee </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.payee_name %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Merchant </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.merchant_name %>
              </div>
            </div>

            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Description </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.description %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Reference Number </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.reference_number %>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Bill Category </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.utility_bill_category_title %>
              </div>
            </div>

             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Due Date </span>
              </div>
              <div class="col-md-7">
                <%= @utility_bill.due_date.strftime("%B %e, %Y") %>
                <span class="badge badge-warning"><%= @utility_bill.remaining_days %> days from now </span>
              </div>
            </div>
            
            
            <hr>
            <h4 class="subtitle-up"> Payment Details </h4>
             <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Confirmation Code </span>
              </div>
              <div class="col-md-7">
                <%= "*" * 20 %><%= @voucher.token.last(4) %><br>
                <%= @voucher.token %>
              </div>
            </div>

            <div class="row min-margin">
              <div class="col-md-5">
                <span class="text-muted"> Amount </span>
              </div>
              <div class="col-md-7">
                <%= number_to_currency @voucher.voucher_amounts.where(account: current_banking_agent.cash_account).total %>
              </div>
            </div>



<%= simple_form_for @voucher_confirmation, url: :banking_agent_module_utility_bill_payment_confirmations do |f| %>
  <%= f.input :voucher_id, input_html: { value: @voucher.id}, as: :hidden %>
  <%= f.input :token, label: "Confirmation Code", autofocus: true %>
  <%= f.submit "Confirm Payment", class: "btn btn-primary float-right" %>
<% end %>
<%= link_to "Cancel", banking_agent_module_utility_bill_payment_confirmation_path(id: @voucher.id), method: :delete, class: "text-danger float-left" %>
