

 <div class="row min-margin">
        <div class="col-md-3 offset-md-1">
          <b><label>Account Name</label> </b>
        </div>
        <div class="col-md-6">
          <span class="text-muted"><%= @savings_account.account_owner_name %></span>
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-3 offset-md-1">
          <b><label> Saving Product </label></b>
        </div>
        <div class="col-md-6">
          <span class="text-muted"><%= @savings_account.saving_product_name %></span>
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-3 offset-md-1">
          <b><label> Interest Rate</label> </b>
        </div>
        <div class="col-md-6">
          <span class="text-muted"><%= @savings_account.saving_product_interest_rate * 100 %> % </span>
        </div>
      </div>
      <div class="row min-margin">
        <div class="col-md-3 offset-md-1">
          <b><label> Account Number </label></b>
        </div>
        <div class="col-md-6">
          <span class="text-muted"><%= @savings_account.account_number.upcase %></span>
        </div>
      </div>



<br>
<% months = [] %>
<% ((Date.current - 6.months)..DateTime.now.end_of_day).each do |month| %>
<% months << month.beginning_of_month %>
<% end %>
<% balances_data = [] %>
<% months.uniq.each do |month| %>

<% balances_data << { month.strftime("%b %Y").upcase => @savings_account.balance(to_date: month.end_of_month) } %>
<% end %>

  <%= line_chart (Hash[*balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, height: 300, download: true, curve: false, thousands: ",", prefix: "P " %>
  <br>


  <div class="row">
    <div class="col-md-6">
      <h4 class="subtitle-up"> Transactions History </h4>
    </div>
    <div class="col-md-6">
      <%= form_tag savings_account_path(@savings_account),method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Transactions", id: 'saving-entries-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", title: 'Search Transaction', class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class='table table-responsive'>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th></th>
          <th> Posting Date </th>
          <th> Office </th>
          <th> Employee </th>
          <th> REF # </th>
          <th> Description </th>
          <th> Debit </th>
          <th> Credit </th>
          <th> Balance </th>
        </tr>
      </thead>
      <tbody>
        <% @entries.uniq.each do |entry| %>
            <% debits_total = entry.debit_amounts.where(account: @savings_account.liability_account).total %>
            <% credits_total = entry.credit_amounts.where(account: @savings_account.liability_account).total %>
          <tr>
            <td><i class=" fa fa-arrow-<%= ::Presenters::Saving.new(saving: @savings_account, entry: entry).chevron %> img-square text-<%= Presenters::Saving.new(saving: @savings_account, entry: entry).text_color %>"></i></td>
            <td><%= entry.entry_date.strftime('%B %e, %Y') %> - <%= entry.entry_time.strftime("%-l:%M %p")%></td>
            <td><%= entry.office_name %></td>
            <td><%= entry.recorder_name %></td>
            <td><%= entry.reference_number %></td>
            <td><%= entry.description %></td>
            <td>
              <% if !debits_total.zero? %>
                <%= number_to_currency debits_total %>
              <% else %>
                -
              <% end %>
            </td>
             <td>
              <% if !credits_total.zero? %>
                <%= number_to_currency credits_total %>
              <% else %>
                -
              <% end %>
            </td>
            <td><span class='float-right'><%= number_to_currency @savings_account.balance(to_date: entry.entry_date, to_time: entry.entry_time) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <center><%==pagy_bootstrap_nav(@pagy) %></center>
  </div>