
<% breadcrumb :savings_account_settings, @savings_account %>
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title mb-3"> Update Beneficiary/ies </h3>
      <div class="row justify-content-end">
        <div class="col-md-11">
          <% if @savings_account.beneficiaries.present? %>
            <% @savings_account.beneficiaries.try(:split, (",")).each do |beneficary| %>
              <span class="fa fa-user"> </span> <%= beneficary %><br>
            <% end %>
          <% else %>
            <small class="text-muted">None</small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%=link_to "Update", edit_savings_account_beneficiary_path(id: @savings_account.id), class: "btn btn-outline-danger", data: {modal:true} %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title"> Adjusting Entry </h3>
      <p class="text-muted">Create adjusting entry for this savings account. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:accounting_module, :entry]).new? %>
        <%=link_to "New Adjusting Entry", new_accounting_module_commercial_document_adjusting_entry_line_item_path(commercial_document_type: @savings_account.class.to_s, commercial_document_id: @savings_account.id), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
      <% end %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h4 class="card-title">Merge Account</h4>
      <span class="text-muted"> Merge savings accounts that are duplicated. </span>
    </div>
    <div class="col-md-3">
      <%= link_to 'Merge Account', new_savings_account_merging_line_item_path(@savings_account), class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title">Balance Transfer </h3>
      <p class="text-muted"> Transfer balance to other savings accounts. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:savings_accounts, :balance_transfer_destination_account]).new? %>
        <%= link_to 'Balance Transfer', new_savings_account_balance_transfer_destination_account_path(origin_saving_id: @savings_account.id), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Treasurer account can do this action. </span>
      <% end %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h4 class="card-title">Barangay Details</h4>
      <p class="text-muted">Set barangay for monitoring purposes. </p>
      <%= @savings_account.barangay_name %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Set Barangay', edit_savings_account_barangay_setting_path(id: @savings_account), class: "btn btn-outline-danger", data: {modal: true} %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title"> Close Account </h3>
      <p class="text-muted"> Close this savings account. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:savings_accounts, :account_closing]).new? && !@savings_account.closed? %>
        <%= link_to 'Close Account', new_savings_account_account_closing_path(@savings_account), class: "btn btn-outline-danger" %>
      <% else %>
      <p class="text-danger"> Only Teller or Treasurer account can close this savings account. </p>
      <% end %>
    </div>
  </div>
</div>
