
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h3 class="card-title"> Barangays </h3>
      </div>
      <div class="col-md-3">
      <%=form_tag barangays_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search barangay...", id: 'sidebar-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-2">
        <%= link_to 'New Barangay', new_cooperative_barangay_path(current_cooperative), class: 'btn btn-primary float-right' %>
      </div>
    </div>
  </div>
</div>

<% @barangays.each do |barangay| %>
  <%= render 'barangays/partials/header', barangay: barangay %>
<% end %>

<center><%= will_paginate @barangays %></center>
  
