<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h4 class="card-title">Settings</h4>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Archive Loans</h4>
        <p class="text-muted">
          Archive loans that are paid.
        </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Archive Loans', new_loans_module_settings_archive_path, class: "btn btn-sm btn-outline-danger float-right" %>
      </div>
    </div>
	</div>
</div>
<div class='card'>
  <div class='card-body'>
    <h4 class="title-up"> Loan Aging Groups </h4>
    <%= link_to 'New Aging Group', new_loans_module_settings_loan_aging_group_path, class: 'btn btn-danger' %>

    <div class='table table-responsive'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th> Title </th>
            <th> Start Num </th>
            <th> End Num </th>
            <th> Account </th>
          </tr>
        </thead>
        <tbody>
          <% current_office.loan_aging_groups.each do |loan_aging_group| %>
            <tr>
              <td><%= link_to loan_aging_group.title, loans_module_settings_loan_aging_group_path(loan_aging_group) %></td>
              <td><%= loan_aging_group.start_num %></td>
              <td><%= loan_aging_group.end_num %></td>
              <td><%= loan_aging_group.level_two_account_category_title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

