<%= link_to 'New Category', new_accounting_module_level_two_account_category_path %>
<% @categories.each do |category| %>
  <%= link_to category.title, accounting_module_level_two_account_category_path(category) %>
<% end %>
