<%= simple_form_for @time_deposit_product, url: :office_time_deposit_products do |f| %>
  <%= f.error_notification %>
  <%= f.input :time_deposit_product_id, collection: current_cooperative.time_deposit_products.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :liability_account_category_id, collection: current_office.level_one_account_categories.liabilities.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :interest_expense_account_category_id, collection: current_office.level_one_account_categories.expenses.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :break_contract_account_category_id, collection: current_office.level_one_account_categories.revenues.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.input :forwarding_account_id, collection: current_office.accounts.liabilities.map{|a| [a.name, a.id] }, input_html: { class: 'chosen-select' } %>
  <%= f.submit "Save Time Deposit Product", class: 'btn btn-danger float-right' %>
<% end %>
