<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    New Account Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @account, url: :accounting_module_accounts, html: { data: { modal: true } }, remote: request.xhr? do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :level_one_account_category_id, collection: current_office.level_one_account_categories.map{|a| [a.title, a.id] }, input_html: { class: 'chosen-select' } %>
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :type, collection: AccountingModule::Account.types %>
    <%= f.input :contra %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Account", class: "btn btn-primary float-right", data: { disable_with: "Creating Account..." } %>
  </div>
<% end %>
