<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header no-border">
        <h3 class="card-title"><i class="fa fa-info-circle"></i> Capital Build Up Transaction </h3>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
        <div class="col-md-12">
          <div class="row min-margin">
            <div class="col-md-4 col-sm-4">
              <h4 class="card-title">Amount</h4>
            </div>
            <div class="col-md-8 col-sm-8">
              <h4 class="card-title"><%= number_to_currency @voucher.voucher_amounts.for_account(account: @share_capital.share_capital_product_equity_account).total %></h4>
            </div>
          </div>
        </div>
        <hr class="min-margin">
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <% if @voucher.accounting_entry.blank? %>
          <%= link_to "Confirm Transaction", share_capital_voucher_confirmations_path(share_capital_id: @share_capital.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", share_capital_voucher_path(share_capital_id: @share_capital.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
