
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <h3 class="card-title"><%= @category.title %> - Accounts </h3>
      </div>
      <div class="col-md-6">
        <%=form_tag accounting_module_level_one_account_category_accounts_path(@category), method: :get, class: "sidebar-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account..", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
<% @accounts.each do |account| %>
  <%= render 'accounting_module/accounts/partials/header', account: account %>
<% end %>
<center><%==pagy_bootstrap_nav(@pagy) %></center>
