<div class='container'>
  <div class='row'>
    <div class='col-md-5'>
      <div class='card'>
        <div class='card-body'>
          <h4 class='title-up'> Search Loans </h4>
          <%= form_tag new_accounting_module_ioc_distributions_loan_path, method: :get do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Borrower name", id: 'sidebar-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default btn-flat") do %>
                  <i class="fa fa-search"></i> Search Loan
                <% end %>
              </span>
            </div>
          <% end %>
          <br>
          <% @loans.each do |loan| %>
            <%= link_to new_accounting_module_ioc_distributions_loan_processing_path(loan_id: loan.id), id: "#{loan.id}-select-loan" do %>
              <div class='row'>
                <div class="col-md-2">
                  <%=image_tag(loan.avatar, height: 45, width: 45, class: "img-circle") %>
                </div>
                <div class='col-md-5'>
                  <b><%= loan.borrower_name %></b><br>
                  <small class='text-muted'><%= loan.loan_product_name %> - <%= loan.purpose %></small>
                </div>
                <div class='col-md-4'>
                  <span class="float-right"><%= number_to_currency loan.principal_balance %></span>
                </div>
              </div>
            <% end %>
            <hr>
          <% end %>
          <%== pagy_bootstrap_nav(@pagy_loans)%>
        </div>
      </div>
    </div>
    <div class='col-md-7'>
      <div class='card elevation-2'>
        <div class='card-body'>
          <h4 class='title-up'> IOC Loan Payments </h4>
            <div class="table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> Borrower</th>
                    <th> Principal </th>
                    <th> Interest </th>
                    <th> Penalty </th>
                    <th> Total </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>   
                  <% @loans_with_payments.uniq.each do |loan| %>
                    <tr>
                      <td><%= loan.borrower_full_name.upcase %><br>
                        <small class="text-muted"><%= loan.loan_product_name %> - <%= loan.purpose %></small>
                      </td>
           
                      <td>
                        <%= number_to_currency AccountingModule::IocDistributions::IocToLoanFinder.new(cart: current_cart).principal_amount(loan) %>
                      </td>
                      <td>
                        <%= number_to_currency AccountingModule::IocDistributions::IocToLoanFinder.new(cart: current_cart).interest_amount(loan) %>
                      </td>

                      <td>
                        <%= number_to_currency AccountingModule::IocDistributions::IocToLoanFinder.new(cart: current_cart).penalty_amount(loan) %>
                      </td>
                      <td>
                        <%= number_to_currency AccountingModule::IocDistributions::IocToLoanFinder.new(cart: current_cart).total_amount(loan) %>
                      </td>
                      <td>
                        <%= link_to accounting_module_ioc_distributions_loan_path(id: loan.id), method: :delete, id: "#{loan.id}-delete-amount" do %>
                          <i class='fa fa-times text-danger'></i>
                        <% end %> 
                      </td>
                    </tr>  
                  <% end %>
                  <tr>
                  <b>
                    <td>TOTAL </td>
       
                    <td><%= number_to_currency current_cart.voucher_amounts.where(account_id: @loans_with_payments.pluck(:receivable_account_id)).total %></td>
                    <td><%= number_to_currency current_cart.voucher_amounts.where(account_id: @loans_with_payments.pluck(:interest_revenue_account_id)).total %></td>
                    <td><%= number_to_currency current_cart.voucher_amounts.where(account_id: @loans_with_payments.pluck(:penalty_revenue_account_id)).total %></td>
                    <td><%= number_to_currency current_cart.voucher_amounts.credit.total %></td>
                    <td></td>
                    </b>
                  </tr>
                </tbody>
              </table>
            </div>
          <%==pagy_bootstrap_nav(@pagy) %> 
          <hr>
          <%= simple_form_for @voucher, url: :accounting_module_ioc_distributions_loan_vouchers do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%= f.input :reference_number %>
            <%= f.input :description %>
            <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
            <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
            <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
            <%= f.submit "Proceed", class: "btn btn-primary float-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>