<% @level_two_account_categories.each do |category| %>
  <%= category.title %>
  <%= simple_form_for @l2_account_category, url: :accounting_module_accounting_report_level_two_account_categories do |f| %>
    <% if !@accounting_report.accounting_report_account_categorizations.pluck(:account_category_id).include?(category.id) %>
      <%= f.input :account_category_id, input_html: { value: category.id} %>
      <%= f.input :account_category_type, input_html: { value: category.class.to_s } %>

      <%= f.submit 'Add' %>
    <% end %>
  <% end %>
<% end %>