
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h3 class="title-up"> Balance Sheet - <%= current_office.name %> </h3>
          <p class="text-muted"> As of <%= @to_date.strftime("%B %e, %Y") %></p>
          <% current_cooperative.offices.each do |office| %>
            <%= link_to office.name, accounting_module_reports_balance_sheets_path(office_id: office.id), class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= form_tag({:action => 'index'}, {:method => :get, :class => 'form-inline'}) do%>
            <div class="form-group">
            <%= label_tag :to_date, nil, class: 'sr-only'%>
            <%= text_field_tag :to_date, @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
            </div>
            <button type="submit" class="btn btn-primary">Generate</button>
          <% end %>
        </div>
        <div class="col-md-3">
          Export To:
          <%= link_to accounting_module_reports_statement_of_operations_path(office_id: current_office.id, to_date: @to_date, format: 'csv') do %>
            <span class="btn btn-outline-secondary btn-sm"><i class="fa fa-spreadsheet"></i> CSV </span>
          <% end %>
          <%= link_to accounting_module_reports_statement_of_operations_path(format: 'pdf', to_date: @to_date) do %>
            <span class="btn btn-outline-secondary btn-sm"><i class="fa fa-pdf"></i> PDF </span>
          <% end %>

        </div>
      </div>
    </div>
    <div class="card-body">
      <%= render 'accounting_module/reports/balance_sheets/partials/assets' %>
      <%= render 'accounting_module/reports/balance_sheets/partials/liabilities_and_equity' %>
<%= render 'accounting_module/reports/income_statements/partials/revenues' %>
      <%= render 'accounting_module/reports/income_statements/partials/expenses' %>
      <%= render 'accounting_module/reports/income_statements/partials/net_surplus' %>
