<%= link_to 'Accounts', accounting_module_level_one_account_category_accounts_path(@category), id: "#{@category.id}-accounts" %>

<%= link_to 'Settings', accounting_module_level_one_account_category_settings_path(@category), id: "#{@category.id}-settings" %>
