Active Members
<h4 class="card-title"> <%= Member.percent_active(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %> %
Active Savings
  <h4 class="card-title"> <%= MembershipsModule::Saving.percent_active(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %> %
Active Share Capitals
<h4 class="card-title"> <%= MembershipsModule::ShareCapital.percent_active(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %> %

<div class="col-md-6">
  <div  class="card">
    <div class="card-header">
      <small>SAVINGS ACCOUNTS METRICS</small>
      <% if  @saving_metric.negative? %>
      <h1 class="text-danger"><%= number_to_currency @saving_metric %> % <span class="fa fa-arrow-down"></span></h1>
      <% elsif @saving_metric.positive? %>
      <h1 class="text-success"><%= number_to_currency @saving_metric %> % <span class="fa fa-arrow-up"></span></h1>
      <% end %>
      <small>SINCE <%= Date.today.last_month.end_of_month.strftime("%B %e, %Y") %></small>
      <hr />
      <h4>BALANCES / YEAR </h4>
      <% year_dates = [] %>
      <% start_date = MembershipsModule::Saving.order(date_opened: :desc).last.date_opened %>
      <% (start_date.to_date..Date.today).each do |date| %>

        <% year_dates << date.end_of_year%>
      <% end %>
      <% savings_balances_data = [] %>
      <% year_dates.uniq.each do |year| %>
      <% savings_balances_data << { year.end_of_year.strftime("%B %Y") => CoopServicesModule::SavingProduct.total_balance(to_date: year.end_of_year) } %>
      <% end %>
      <%= line_chart (Hash[*savings_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"} %>

    </div>

  </div>
</div>
<div class="col-md-6">
  <div  class="card">
    <div class="card-header">
      <small>SHARE CAPITAL METRICS</small>
      <% if  @share_capital_metric.negative? %>
      <h1 class="text-danger"><%= number_to_currency @share_capital_metric %> % <span class="fa fa-arrow-down"></span></h1>
      <% elsif @share_capital_metric.positive? %>
      <h1 class="text-success"><%= number_to_currency @share_capital_metric %> % <span class="fa fa-arrow-up"></span></h1>
      <% end %>
      <small>SINCE <%= Date.today.last_month.end_of_month.strftime("%B %e, %Y") %></small>
      <hr />
      <h4>BALANCES / YEAR </h4>
      <% year_dates = [] %>
      <% start_date = MembershipsModule::ShareCapital.order(date_opened: :desc).last.date_opened %>
      <% (start_date.to_date..Date.today).each do |date| %>

        <% year_dates << date.end_of_year%>
      <% end %>
      <% share_capital_balances_data = [] %>
      <% year_dates.uniq.each do |year| %>
      <% share_capital_balances_data << { year.end_of_year.strftime("%B %Y") => CoopServicesModule::ShareCapitalProduct.total_balance(to_date: year.end_of_year) } %>
      <% end %>
      <%= line_chart (Hash[*share_capital_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"} %>

    </div>

  </div>
</div>
 <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(metrics_savings_accounts_path)%>"><%= link_to 'Savings Accounts', metrics_savings_accounts_path %></li>

        </ul>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h4 class="card-title">Active Members</h4>
        <h2><%=number_to_currency @members.count, unit: "", precision: 0 %></h2>
        FROM <%= @from_date.strftime("%B %e, %Y") %>
        TO <%= @to_date.strftime("%B %e, %Y") %>
        <hr>
        <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page?(metrics_path(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year))%>"><%= link_to 'This Year', metrics_path(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year) %></li>
          <li class="<%= 'active' if current_page?(metrics_path(from_date: Date.today.beginning_of_day, to_date: Date.today.end_of_day))%>"><%= link_to 'This Day', metrics_path(from_date: Date.today.beginning_of_day, to_date: Date.today.end_of_day) %></li>
        </ul>
        <%= link_to "This Year", metrics_path(from_date: Date.today.beginning_of_year, to_date: Date.today.end_of_year), class: "label bg-gray" %>
         <%= link_to "This Quarter", metrics_path(from_date: Date.today.beginning_of_quarter, to_date: Date.today.end_of_quarter), class: "label bg-gray" %>
         <%= link_to "This Month", metrics_path(from_date: Date.today.beginning_of_month, to_date: Date.today.end_of_month), class: "label bg-gray" %>
         <%= link_to "This Week", metrics_path(from_date: Date.today.beginning_of_week, to_date: Date.today.end_of_week), class: "label bg-gray" %>
         <%= link_to "This Day", metrics_path(from_date: Date.today.beginning_of_day, to_date: Date.today.end_of_day), class: "label bg-gray" %>
         <%=link_to 'PDF', metrics_path(from_date: @from_date, to_date: @to_date, format: "pdf") %>
         <hr>
         <small>TOTAL EXPENSES</small>
         <h1><%= number_to_currency AccountingModule::Expense.balance(from_date: @from_date, to_date: @to_date) %></h1>
         <% AccountingModule::Expense.updated_at(from_date: @from_date, to_date: @to_date).uniq.sort_by(&:balance).reverse.each do |account| %>
          <div class="row">
            <div class="col-md-7">
              <%= account.name %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency account.balance(from_date: @from_date, to_date: @to_date) %>
            </div>
          </div>
          <br>
        <% end %>
        <hr>
        <small>TOTAL REVENUES</small>
         <h1><%= number_to_currency AccountingModule::Revenue.balance(from_date: @from_date, to_date: @to_date) %></h1>
         <% AccountingModule::Revenue.updated_at(from_date: @from_date, to_date: @to_date).uniq.sort_by(&:balance).reverse.each do |account| %>
          <div class="row">
            <div class="col-md-7">
              <%= account.name %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency account.balance(from_date: @from_date, to_date: @to_date) %>
            </div>
          </div>
          <br>
        <% end %>
        <hr>
        <small>PROFIT</small>
         <h1><%= number_to_currency(AccountingModule::Revenue.balance(from_date: @from_date, to_date: @to_date) - AccountingModule::Expense.balance(from_date: @from_date, to_date: @to_date)) %></h1>

      </div>
    </div>
  </div>
</div>
