<div class='container'>
<div class='card'>
              <div class='card-body'>
                <div class='row'>
                  <div class='col-md-4'>
                    <% current_office.office_saving_products.each do |office_saving_product| %>
                      <small class='text-muted'><%= office_saving_product.saving_product_name.upcase %></small>
                      <h3 class='title-up'><%= number_to_currency office_saving_product.liability_account_category.balance %></h3>
                    <% end %>
                  </div>
                  <div class='col-md-2'>
                    <small class='text-muted'> ACCOUNTS </small>
                    <h3 class='title-up'><%= number_to_currency current_office.savings.size, unit: "", precision: 0 %></h3>
                  </div>
                  <div class='col-md-3'>
                    <small class='text-muted'> BELOW MIN BALANCE </small>
                    <h3 class='title-up'><%= number_to_currency current_office.savings.below_minimum_balance.size, unit: "", precision: 0 %></h3>
                  </div>
                  <div class='col-md-3'>
                    <small class='text-muted'> NEW ACCOUNTS (this month) </small>
                    <h3 class='title-up'><%= number_to_currency current_office.savings.below_minimum_balance.size, unit: "", precision: 0 %></h3>
                  </div>
                </div>
              </div>
            </div>
    <div class='card'>
      <div class='card-body'>
    <div class="row">
        <div class="col-md-3">
          <h3 class="title-up">Savings Accounts</h3>
        </div>

        <div class="col-md-6 m-0">
          <%= form_tag savings_accounts_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-secondary") do %>
                  <i class="fa fa-search"></i> Search Account
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
        <div class='col-md-3'>
          <%= link_to 'New Deposits', new_savings_account_multiple_transaction_path, class: 'btn btn-primary float-right' %>
        </div>
      </div>
      <br>
  
            <div class='table table-responsive'>
              <table class='table table-hover table-striped'>
                <thead>
                  <tr>
                    <th> </th>
                    <th> Depositor </th>
                    <th> Saving Product </th>
                    <th> Last Transaction </th>
                    <th> Balance </th>
                    
                </thead>
                <tbody>
                  <% @savings_accounts.each do |savings_account| %>
                    <tr style="cursor: pointer;" data-link="<%= savings_account_path(savings_account) %>">
                      <td style="width: 40px"><%= image_tag(savings_account.depositor.avatar, class: "img-circle", height: 50, width: 50) %></td>
                      <td><%= link_to savings_account.depositor_name, savings_account_path(savings_account) %><br>
                          
                      </td>
                      <td><%= savings_account.saving_product_name %></td>
                      <td><%= savings_account.last_transaction_date.strftime('%B %e, %Y') %> </td>
                      <td><%= number_to_currency savings_account.balance %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          <center><%==pagy_bootstrap_nav(@pagy) %> </center>

            </div>
          </div>
        </div>
     
         
        

<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
