<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Set Barangay
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for @share_capital, url: :share_capital_barangay do |f| %>
	<div class="modal-body">
		<%= f.input :barangay_id, collection: Addresses::Barangay.all.map{|a| [a.name, a.id] }, input_html: { id: "barangay_id" } %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Update Barangay", class: "btn btn-danger float-right" %>
	</div>
<% end %>
