<h3 class="title-up"> EXPENSES </h3>

<% current_office.level_three_account_categories.expenses.order(code: :asc).each do |l3_account_category| %>
  <%= l3_account_category.title %>
  <br>
  <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
    &nbsp; &nbsp; <%= l2_account_category.title %><br>
    <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
        </div>
        <div class="col-md-5">
          <span class="float-left"><%= number_to_currency l1_account_category.balance(from_date: @from_date, to_date: @to_date) %></span>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <b>&nbsp; &nbsp;  Total <%= l2_account_category.title %></b>
      </div>
      <div class="col-md-5">
        <b><%= number_to_currency l2_account_category.balance(from_date: @from_date, to_date: @to_date) %></b>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <b>Total <%= l3_account_category.title %></b>
    </div>
    <div class="col-md-5">
      <b><%= number_to_currency l3_account_category.balance(from_date: @from_date, to_date: @to_date) %></b>
    </div>
  </div>
<% end %>


<% current_office.level_two_account_categories.expenses.where.not(id: current_office.level_three_account_categories.level_two_account_categories.expenses.ids).order(code: :asc).each do |l2_account_category| %>
  &nbsp; &nbsp; <%= l2_account_category.title %><br>
  <% l2_account_category.level_one_account_categories.expenses.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
      </div>
      <div class="col-md-5">
        <span class="float-left"><%= number_to_currency l1_account_category.balance(from_date: @from_date, to_date: @to_date) %></span>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <b>&nbsp; &nbsp;  Total <%= l2_account_category.title %></b>
    </div>
    <div class="col-md-5">
      <b><%= number_to_currency l2_account_category.balance(from_date: @from_date, to_date: @to_date) %></b>
    </div>
  </div>
  <hr>
<% end %>

<% current_office.level_one_account_categories.expenses.where.not(id: current_office.level_two_account_categories.level_one_account_categories.expenses.ids).order(code: :asc).each do |l1_account_category| %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
      </div>
      <div class="col-md-5">
        <span class="float-left"><%= number_to_currency l1_account_category.balance(from_date: @from_date, to_date: @to_date) %></span>
      </div>
    </div>
<% end %>
<hr>

<div class="row">
  <div class="col-md-7">
    <b>TOTAL EXPENSES</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_office.level_one_account_categories.expenses.balance(from_date: @from_date, to_date: @to_date) %></b>
  </div>
</div>
