<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <small> TOTAL ACCOUNTS </small>
            <h2 class="number"><%= current_office.savings.can_earn_interest.count  %></h2>
          </div>
          
        </div>
        <hr>
        <% @savings_accounts.each do |saving| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag(saving.avatar, height: 45, width: 45, class: "img-circle") %>
            </div>
            <div class="col-md-6">
              <b><%= saving.depositor_name %></b><br>
              <%= saving.saving_product_name %>
            </div>
            <div class="col-md-4">
              <%= number_to_currency saving.averaged_balance %><br>
              <small>AVERAGED BALANCE </small>
            </div>
          </div>
          <hr>
        <% end %>
        <center>
          <%==pagy_bootstrap_nav(@pagy) %>
        </center>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= simple_form_for @interest_expense_posting, url: :accounting_module_scheduled_entries_savings_accounts_interest_postings do |f| %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
          <%= f.input :description, as: :text %>
          <%= f.input :reference_number %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <hr>
          <%= f.submit "Create Voucher", class: 'btn btn-warning btn-sm float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
