<div class="card card-danger">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Barangay Details</h4>
        <p class="text-muted">
          Set barangay for monitoring purposes and generation of reports.
        </p>
        <%#= @loan.barangay_name %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Set Barangay', edit_loan_barangay_path(id: @loan.id), class: "btn btn-sm btn-outline-danger float-right", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Set Loan as Loss</h4>
        <p class="text-muted">
          Set this loan as loss
        </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Set as Loss', new_loans_module_loan_loss_path(@loan), class: "btn btn-sm btn-outline-danger float-right", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Set Loan as Past Due</h4>
        <p class="text-muted">
          Set this loan as past due
        </p>
      </div>
      <div class="col-md-3">
        <% if @loan.past_due? %>
          <span class="text-danger"> This loan is already set to Past Due </span>
        <% else %>
          <%= link_to 'Set as Past Due', new_loans_module_loan_past_due_voucher_path(@loan), class: "btn btn-sm btn-outline-danger float-right", data: {modal: true} %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Loan Terms Details
        
        </h4>
        <p class="text-muted"> Create new loan terms </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'New Term', new_loans_module_loan_term_path(@loan), class: "btn btn-sm btn-outline-danger float-right", data: {modal: true} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">

        <hr>
        <% if @loan.paid? %>
          <h4 class="card-title">Archive Loan</h4>
          <p class="text-muted"> Archive paid loans </p>
          <% if policy([:loans_module, :loans, :archiving]).new? && !@loan.archived? %>
            <%= link_to "Archive Loan", loans_module_loan_archivings_path(@loan), method: :post, data: { confirm: "Are you sure you want to archive this loan?" }, class: "btn btn-sm btn-outline-danger" %>
          <% elsif @loan.archived? %>
            <div class="row">
              <div class="col-md-6">
                <b>Status</b>
              </div>
              <div class="col-md-6">
                <span class="label bg-green"> Archived </span><br>
              </div>
            </div>
            <hr class="min-margin">
            <div class="row">
              <div class="col-md-6">
                <b>Archiving Date </b>
              </div>
              <div class="col-md-6">
                <%= @loan.archiving_date.strftime("%B %e, %Y") %>
              </div>
            </div>
            <hr class="min-margin">
            <div class="row">
              <div class="col-md-6">
                <b>Archived By </b>
              </div>
              <div class="col-md-6">
                <%= @loan.archived_by.try(:name) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title"> Reference Number</h4>
        <p class="text-muted">
          Enter reference number to distinguish loans during payments
        </p>
        <% if !@loan.forwarded_loan? && @loan.disbursement_voucher.present? %>
          <h4 class="card-title"><%= "##{Voucher.find_by(id: @loan.disbursement_voucher_id).try(:reference_number)}" %></h4>
        <% end %>
      </div>
      <div class="col-md-3">
        <%=link_to "Update", edit_loans_module_loan_tracking_number_path(id: @loan.id), class: "btn btn-outline-danger btn-sm float-right", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title"> Organization </h3>
      </div>
      <div class="col-md-3">
        <%= link_to 'Set Organization', edit_loans_module_loan_organization_path(id: @loan.id), class: "btn btn-outline-danger btn-sm float-right", data: {modal: true} %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Adjustment Entries</h4>
        <p class="text-muted">
          Make adjusting entries for this loan.
        </p>
      </div>
      <div class="col-md-3">
        <% if current_user.bookkeeper? || current_user.accountant? %>
          <%=link_to "New Adjusting Entry", new_accounting_module_commercial_document_adjusting_entry_line_item_path(commercial_document_type: @loan.class.to_s, commercial_document_id: @loan.id), class: "btn btn-sm btn-outline-danger float-right" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Payment with IOC</h4>
        <p class="text-muted">
          Enter payment with IOC.
        </p>
      </div>
      <div class="col-md-3">
        <% if current_user.bookkeeper? || current_user.accountant? || current_user.teller? %>
          <%= link_to new_loan_payment_with_ioc_path(@loan), data: { turbolinks: false} do %>
            <span class="btn btn-outline-danger btn-sm float-right"><i class="fa fa-plus-circle"></i> New Payment </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="no-margin">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Restructure Loan</h4>
      </div>
      <div class="col-md-3">
        <%= link_to 'New Restructuring', new_loans_module_loan_restructure_voucher_path(@loan) %>
      </div>
    </div>
  </div>
</div>
