<table class="table table-striped table-hover">
  <caption class="text-left"><b><%=name%></b></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
<% if accounts.count > 0 %>
  <tbody>
    <% running_total = 0 %>
    <% accounts.each do |account| %>
      <% balance = account.balance(:from_date => @from_date, :to_date => @to_date) %>
      <tr>
        <td><%= account.name %></td>
        <td><span class="pull-right"><%=number_to_currency balance.round(2) %></span></td>
        <% running_total += balance %>
      </tr>
    <% end %>
    <tr>
      <strong>
        <td><b>TOTAL <%= name.upcase %></b></td>
        <td><span class="pull-right"> <b><%=number_to_currency running_total.round(2) %></b></span></td>
      </strong>
    </tr>
  </tbody>
<% end %>
</table>
