<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Barangay Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= render 'loans/partials/form_header' %>
<%= simple_form_for @loan, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :loan_barangay do |f| %>
  <div class="modal-body">
    <%= f.input :barangay_id, collection: Addresses::Barangay.all.map{|a| [a.name, a.id] } %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Update Barangay", class: "btn btn-warning float-right" %>
  </div>
<% end %>

