<% breadcrumb :time_deposit_details, @time_deposit %>
<div class="row">
  <div class="col-md-2 col-sm-6">
    <div class="min-margin"></div>
    <div class="min-margin"></div>
    <%=image_tag @time_deposit.depositor.avatar, height: 120, width: 120, class: 'img-square' %>
  </div>
  <div class="col-md-5 col-sm-6">
    <%=link_to member_path(@time_deposit.depositor) do %>

    <h4 class="subtitle-up"><%= @time_deposit.depositor_name.upcase %></h4>

    <small class="text-muted">
      <i class="fa fa-map-marker"></i> <%= @time_deposit.depositor.current_address_complete_address %> &nbsp; &nbsp;
      <div class="min-margin"></div>

      <i class="fa fa-phone"></i> <%= @time_deposit.depositor.current_contact_number %></i> &nbsp; &nbsp;
      <div class="min-margin"></div>

    <small>MATURITY DATE</small>
          <p><i class="fa fa-calendar"></i>
            <%= @time_deposit.term_maturity_date.strftime("%B %e, %Y")  %>
          </p>
    </small>
 <%= link_to time_deposit_path(@time_deposit, format: "pdf") do %>
                <span class="btn btn-outline-secondary"><i class="fa fa-certificate"></i> Time Deposit Certificate </span>
              <% end %>
  </div>
  <% end %>
  <div class="col-md-5">
    <small class="text-muted"><%= @time_deposit.time_deposit_product_name.upcase %> </small>
    <h3 class="title-up"><%= number_to_currency @time_deposit.balance %></h3>

    <div class="btn-group" role="group" aria-label="Basic example">
       <% if !@time_deposit.withdrawn?%>
            <%= link_to 'Withdraw', new_time_deposit_withdrawal_path(@time_deposit), data: {turbolinks: false}, class: "btn btn-danger" if policy([:time_deposits, :withdrawal]).new? %>
            <% end %>
          
    </div>
  </div>
</div>
<hr>
<div class="card-body">
  <div class="row">
    <div class="col-md-7">
      <div class="row justify-content-end">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-4">
              <label>Time Deposit Product</label>
            </div>
            <div class="col-md-7">
              <%= @time_deposit.time_deposit_product_name.try(:upcase) %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              <label>Depositor</label>
            </div>
            <div class="col-md-7">
              <%= @time_deposit.depositor_name %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              <label>Account Number</label>
            </div>
            <div class="col-md-7">
              <%= @time_deposit.account_number %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              <label>Certificate Number</label>
            </div>
            <div class="col-md-7">
              <%= @time_deposit.certificate_number %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              <label>Date Deposited</label>
            </div>
            <div class="col-md-7">
              <%= @time_deposit.term_effectivity_date.strftime("%B %e, %Y") %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-4">
              <label>Beneficiary/ies</label>
            </div>
            <div class="col-md-7">
              <% if @time_deposit.beneficiaries.present? %>
                <% @time_deposit.beneficiaries.try(:split, (",")).each do |beneficary| %>
                  <span class="fa fa-user"> </span> <%= beneficary %><br>
                <% end %>
              <% else %>
                <small class="text-muted">None</small>
              <% end %>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-11">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class='title-up'> Transactions History </h4>
<div class="table table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Date </th>
        <th> Description </th>
        <th> Reference # </th>
        <th> Amount </th>
        <th> Member </th>
      </tr>
    </thead>
    <tbody>
      <% @entries.uniq.each do |entry| %>
       
          <%=render 'accounting_module/entries/entry', entry: entry %>
       
      <% end %>
    </tbody>

  </table>
      <%==pagy_bootstrap_nav(@pagy) %>

</div>
