<%= render "home/shared/navbar" %>
<%= render 'layouts/shared/flash_messages' %>


    <div class="container">
      <br>
      <br>
      <br>
      <br>
      

  	<div class="row">
  		<div class="col-md-10 offset-md-1">
      <center>
  			<h1 class="title-up font-montserrat-regular-webfont"> Modern Banking Platform <br> for Growing Cooperatives</h1>
        <div class="min-margin"></div>
        <div class="min-margin"></div>

  			<h4 class="subtitle-up">
          Interconect your branches with real-time transactions. 
        </h4>
      </center>
          <br>
            <div class="row min-margin">
              <div class="col-2 hidden-xs">
              </div>
              <div class="col-1">
                <i class="fa fa-check-circle fa-2x mr-2"></i>
              </div>
              <div class="col-9">
                <p class="lead">One system access for all branches</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-2 hidden-xs">
              </div>
              <div class="col-1 col-xs-4">
                <i class="fa fa-check-circle  fa-2x mr-2"></i>
              </div>
              <div class="col-9 col-xs-8">
                <p class="lead">Every employee will be on the same page</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-2">
                <i class="fa fa-check-circle fa-2x mr-1"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Timely and Smart Decisions for Management</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-2">
                <i class="fa fa-check-circle fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Know exactly what's going on your finances</p>
              </div>
            </div>
            <div class="row min-margin">
              <div class="col-md-1 offset-2">
                <i class="fa fa-check-circle fa-2x mr-2"></i>
              </div>
              <div class="col-md-9">
                <p class="lead">Spend less time on manual work</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <%= link_to 'Request Demo', home_index_path, class: 'btn btn-primary btn-lg btn-block' %>
              </div>
              <div class="col-md-4">
                <%= link_to 'Download Brochure', home_index_path, class: 'btn btn-outline-primary  btn-lg btn-block' %>
              </div>
            </div>

  		    </div>

       
      </div>
  </div>
  <br>

  <hr>
</div>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-md-9 offset-md-2">

    <h2 class="title-up"><b>Everything your Growing Cooperative Needs</b></h2>

    <p class="title-up">Kiphodan Digital brings together accounting, loans, memberships, savings, time deposits, share capitals and more enabling you to deliver  faster and more convenient transactions to your members</p>
    <p class="title-up">Delight your members by providing online loan applications and online balance inquiries for their accounts. Remind them on due dates of payments on messenger, and email. </p>

  </div>
</div>
<br>

    <div class="row">
      <div class="col-5 offset-1">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-8">
            <h3 class="subtitle-up">Accurate Accounting System</h3>
            <p class="text-muted">
              Dependable accounting system that maintains accurate and balanced accounts. Journal entries are validated, recorded and automatically posted without error.
               Duplications, reconciliations are checked and fixed. Separate financial statements, income statements and cash flows for each office can be generated.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-8">
            <h3 class="subtitle-up ">CDA Compliance</h3>

            <p>
              Accounts are based on CDA Chart of Accounts. Reports generated conforms to CDA requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-8">
            <h3 class="subtitle-up">Loans Portfolio Management</h3>
            <p>
              Current, past due and overdue loans are monitored. Aging of loans, comparison of target and actual collections,  monitoring of scheduled amortizations are automatically generated. You can notify members on their due payments through email, text or messenger.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-8">
            <h3 class="subtitle-up">Memberships Portfolio</h3>
            <p class="text-open-sans-regular">
              Members information, savings, share capitals, and time deposits are monitored and updated instantly.
              View active accounts, dormant and accounts that are below minimum balances.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 offset-1">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-sync fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-8">
            <h3 class="subtitle-up">Collaboration tools</h3>
            <p>
              Employees are connected in a single workplace and collaborate to maintain accurate and balanced ledgers.
              Branch offices can have a secure access and enter their daily transactions. No more waiting for delayed reports and
              fixing unbalanced ledgers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3">
            <span class="fa-stack fa-3x text-dark">
              <i class="fas fa-square fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="col-md-8">
            <h3 class="subtitle-up">Ease of Use and Security </h3>
            <p>
              We made Kiphodan Digital easy to use as possible to let you do your work quickly without on compromising security.

            </p>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-5 offset-1">
      <div class="row">
        <div class="col-3">
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-square fa-stack-2x"></i>
            <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-8">
          <h3 class="subtitle-up">Sales and Inventory</h3>
          <p>
            Integrate your storefront's sales and inventories for stock monitoring and fast computation of patronage refunds. Provides you an up to date stocks and status of inventories, accounts receivables and payables.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-3">
          <span class="fa-stack fa-3x text-dark">
            <i class="fas fa-square fa-stack-2x"></i>
            <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-8">
          <h3 class="subtitle-up">Multi Branch ready</h3>
          <p>
            No more waiting for branch transactions to come into your main office. Branch offices can have secure access and enter their daily transactions. Monitor operations of branches without physically going.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

      <div class="bg-dark">
        <br>
        <br>
        <div class="container">

        <div class="row">
          <div class="col-md-9 offset-md-1">
            <h1 class=" title-up"> Move your Operations to the Cloud </h1>
            <p class="lead"> Your banks are connected to the Cloud. ATMs and other financial services depend on it to deliver services. Kiphodan Digital does not require high-speed Internet. If you can access Facebook in your area of operation, you can use Kiphodan Digital.
             It's time you move to cloud-based operations and transform the way you manage your cooperative.</p>
          </div>
        </div>
        <br>

        <br>
        <div class="row">
        <div class="col-md-5 offset-1">
          <div class="row">
            <div class="col-3">
              <span class="fa-stack fa-3x text-secondary">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-md-9">
              <h3 class="subtitle-up">Reduce Risk of Losing Important Data</h3>
              <p>
                We take it seriously to protect the security of your data. Backups, and
                security measures are put in place to deter hacking. In case disaster hits your offices,
                You can find your data safely on Kiphodan Digital.

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-3">
              <span class="fa-stack fa-3x text-secondary">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fa fa-coins fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-md-8">
              <h3 class="subtitle-up">Cut back on your IT Costs.</h3>

              <p>
                Focus on serving your members, not your infrastructure.Buying and managing your own IT systems can quickly drain your budget.
                You must pay the direct costs of the hardware and software.
                Then, you pay the indirect costs of operating, maintaining and repairing the system.
                Kiphodan Digital gives you access to the software you need, without draining your budget.
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="row">
              <div class="col-3">
                <span class="fa-stack fa-3x text-secondary">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fa fa-sync fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="col-md-9 col-xs-8">
                <h3 class="subtitle-up">Collaborate with your branches</h3>
                <p>
                  Kiphodan Digital connects your satellite / branch offices, giving you a central source of information on your cooperative.
                 No more delayed reports from your branch offices. Transactions from branch offices are saved real-time and can be monitored from your main office.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-3">
                <span class="fa-stack fa-3x text-secondary">
                  <i class="fas fa-square fa-stack-2x"></i>
                  <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="col-md-8">
                <h3 class="subtitle-up">Updates you dont have to pay for.</h3>
                <p>
                You get automatic updates at all of your branches for no extra cost. When CDA issues new rules and memorandum,  Kiphodan Digital is updated and rolled out to your offices without any extra hassle for you.

                </p>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>


      </div>
    </div>
    </div>
      <br>
      <br>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2 class="subtitle-up">Want to see everything Kiphodan Digital does? </h2>
            <p class="lead">Request a demo on your next meeting and see for yourself how it interconnects your branches with real time transactions.</p>

            <br>

        </div>


          <div class="col-md-5 offset-2">
 
                <h3 class="subtitle-up"> Contact Us: </h3>
                <div class="row">
                  <div class="col-md-10 offset-md-2">
                <%= simple_form_for Lead.new do |f| %>
                  <%= f.input :email, placeholder: 'Email', input_html: { class: 'input-lg' }, label: false %>

                  <%= f.input :contact_number, label: false, placeholder: "Contact Number" %>
                  <%= f.input :message, label: false, placeholder: 'What can we do to help you?' %>
                  <hr>
                  <%= f.submit 'Request for Demo', class: 'btn btn-primary btn-lg btn-block' %>
                  <br>

                <% end %>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
<%= render "home/shared/footer" %>
