<%= simple_form_for @category, url: :accounting_module_level_three_account_category do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :code %>
  <%= f.input :type, collection: AccountingModule::LevelThreeAccountCategory.types.map{|a| [a, a] }, as: :radio_buttons, input_html: { value: @category.class.to_s} %>
  <%= f.input :contra, as: :boolean %>
  <%= f.submit 'Update Category' %>
<% end %>
