<% total_assets = BigDecimal('0') %>
<h3 class="title-up"> ASSETS </h3>
<% current_office.level_three_account_categories.assets.order(code: :asc).each do |l3_account_category| %>
  <% if l3_account_category.show_sub_categories? %>
    <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
      &nbsp; &nbsp; <%= l2_account_category.title %><br>
      <% if l2_account_category.show_sub_categories? %>
        <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
          <% l1_balance = l1_account_category.balance(to_date: @to_date) %>
          <div class="row">
            <div class="col-md-7">
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
            </div>
            <div class="col-md-5">
              <span class="float-left"><%= number_to_currency l1_balance %></span>
            </div>
          </div>
          <% total_assets += l1_balance %>
        <% end %>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp;  Total <%= l2_account_category.title %>
        </div>
        <div class="col-md-5">
          <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
        </div>
      </div>
      <hr>
  <div class="row">
    <div class="col-md-7">
      Total <%= l3_account_category.title %>
    </div>
    <div class="col-md-5">
      <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
    </div>
  </div>
    <% end %>
  <% else %>
    <div class='row'>
      <div class='col-md-7'>
        <%= l3_account_category.title %>
      </div>
      <div class='col-md-5'>
        <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>

<% current_office.level_two_account_categories.assets.where.not(id: current_office.level_three_account_categories.level_two_account_categories.assets.ids).order(code: :asc).each do |l2_account_category| %>
  &nbsp; &nbsp; <%= l2_account_category.title %><br>
  <% if l2_account_category.show_sub_categories? %>
    <% l2_account_category.level_one_account_categories.assets.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
      <% l1_balance = l1_account_category.balance(to_date: @to_date) %>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
        </div>
        <div class="col-md-5">
          <span class="float-left"><%= number_to_currency l1_balance %></span>
        </div>
      </div>
      <% total_assets += l1_balance %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% else %>
  <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;   <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
<% end %>

  <hr>

<% current_office.level_one_account_categories.assets.where.not(id: current_office.level_two_account_categories.level_one_account_categories.assets.ids).order(code: :asc).each do |l1_account_category| %>
  <% l1_balance = l1_account_category.balance(to_date: @to_date) %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
      </div>
      <div class="col-md-5">
        <span class="float-left"><%= number_to_currency l1_balance %></span>
      </div>
    </div>
      <% total_assets += l1_balance %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>TOTAL ASSETS</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_office.level_one_account_categories.assets.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>
