<h3 class="title-up"> LIABILITIES </h3>
<% current_office.level_three_account_categories.liabilities.order(code: :asc).each do |l3_account_category| %>
  <% if l3_account_category.show_sub_categories? %>
    <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
      &nbsp; &nbsp; <%= l2_account_category.title %><br>
      <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp;  Total <%= l2_account_category.title %>
        </div>
        <div class="col-md-5">
          <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <b>Total <%= l3_account_category.title %></b>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
    <hr />
  <% else %>
    <div class="row">
      <div class="col-md-7">
        <b><%= l3_account_category.title %></b>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
    <hr />
  <% end %>
<% end %>

<% current_office.level_two_account_categories.liabilities.where.not(id: current_office.level_three_account_categories.level_two_account_categories.liabilities.ids).order(code: :asc).each do |l2_account_category| %>
  <% if l2_account_category.show_sub_categories? %>
    <% l2_account_category.level_one_account_categories.liabilities.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
        </div>
        <div class="col-md-5">
          <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
<% end %>
  <hr>
<% current_office.level_one_account_categories.liabilities.where.not(id: current_office.level_two_account_categories.level_one_account_categories.liabilities.ids).order(code: :asc).each do |l1_account_category| %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
      </div>
      <div class="col-md-5">
        <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
      </div>
    </div>
<% end %>
<hr>

<div class="row">
  <div class="col-md-7">
    <b>TOTAL LIABILITIES</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_office.level_one_account_categories.liabilities.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>

<h3 class="title-up"> EQUITIES </h3>
<% current_office.level_three_account_categories.equities.order(code: :asc).each do |l3_account_category| %>
  <% if l3_account_category.show_sub_categories? %>
    <% l3_account_category.level_two_account_categories.where(office: current_office).order(code: :asc).each do |l2_account_category| %>
      &nbsp; &nbsp; <%= l2_account_category.title %><br>
      <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
        <div class="row">
          <div class="col-md-7">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
          </div>
          <div class="col-md-5">
            <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp;  Total <%= l2_account_category.title %>
        </div>
        <div class="col-md-5">
          <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        Total <%= l3_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-7">
        <%= l3_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l3_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>
<% current_office.level_two_account_categories.equities.where.not(id: current_office.level_three_account_categories.level_two_account_categories.equities.ids).order(code: :asc).each do |l2_account_category| %>
  <% if l2_account_category.show_sub_categories? %>
    <% l2_account_category.level_one_account_categories.where(office: current_office).order(code: :asc).each do |l1_account_category| %>
      <div class="row">
        <div class="col-md-7">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
        </div>
        <div class="col-md-5">
          <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  Total <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp;  <%= l2_account_category.title %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency l2_account_category.balance(to_date: @to_date) %>
      </div>
    </div>
  <% end %>
<% end %>
  <hr>

<% current_office.level_one_account_categories.equities.where.not(id: current_office.level_two_account_categories.level_one_account_categories.equities.ids).order(code: :asc).each do |l1_account_category| %>
    <div class="row">
      <div class="col-md-7">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= l1_account_category.title %>
      </div>
      <div class="col-md-5">
        <span class="float-left"><%= number_to_currency l1_account_category.balance(to_date: @to_date) %></span>
      </div>
    </div>
<% end %>

<div class='row'>
  <div class='col-md-7'>
    <b> Undivided Net Surplus </b>
  </div>
  <div class='col-md-5'>
    <% net_surplus = (current_office.level_one_account_categories.revenues.balance(from_date: @to_date.beginning_of_year, to_date: @to_date)-current_office.level_one_account_categories.expenses.balance(from_date: @to_date.beginning_of_year, to_date: @to_date)) %>
    <b><%= number_to_currency net_surplus %></b>
  
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-7">
    <b>TOTAL EQUITY</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_office.level_one_account_categories.equities.balance(to_date: @to_date) + net_surplus %></b>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-7">
    <b>TOTAL LIABILITIES AND EQUITY</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency(current_office.level_one_account_categories.equities.balance(to_date: @to_date) + current_office.level_one_account_categories.liabilities.balance(to_date: @to_date) + net_surplus) %></b>
  </div>
</div>
<hr>
