
<div class="row">
  <div class="col-md-7 offset-md-2">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <%= image_tag(@loan_application.borrower_avatar, width: 45, height: 45, class: "img-circle") if @loan_application.borrower_avatar.attached? %>
          </div>
          <div class="col-md-11 col-sm-11">
            <h3 class="card-title no-margin-bottom"> <%= @loan_application.borrower_name %> </h3>
            
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Voucher (PDF)', loans_module_loan_application_voucher_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-left" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Schedule (PDF)', loans_module_loan_application_amortization_schedules_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
        <hr>
        <% if @loan_application.voucher.present? && !@loan_application.voucher.disbursed? %>
           <% if current_user.cash_accounts.present? %>
        
        <%= link_to 'Disburse Voucher', new_loans_module_loan_application_disbursement_path(loan_application_id: @loan_application.id, voucher_id: @loan_application.voucher_id), class: "btn btn-primary float-right" %>
         <% end %>
        <% end %>
        <% if !@loan_application.disbursed? %>
              <%= link_to 'Cancel Application', loans_module_loan_application_path(@loan_application), method: :delete, class: 'btn btn-link text-danger' %>
               
             
          <% else %>
            <% if @loan_application.cancelled == true %>
              <span class="text-danger float-right"> Cancelled</span>
            <% else %>
              <span class="fa fa-check text-success float-right"> Approved</span>
            <% end %>
          <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
