<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag(@origin_share_capital.avatar, class: 'img-circle', height: 60, width: 60) %>
            </div>
            <div class="col-md-9">
              <h4 class="title-up"><%= @origin_share_capital.subscriber_name %></h4>
              <small class="text-muted">
                <i class="fa fa-map-marker"></i> <%= @origin_share_capital.subscriber.current_address_details %><br>
                <i class="fa fa-phone"></i> <%= @origin_share_capital.subscriber.current_contact_number %>
              </small>
            </div>
          </div>
          <hr>
          <% @subscriber_share_capitals.each do |share_capital| %>
            <div class="row">
              <div class="col-md-7">
                <b><%= share_capital.subscriber_name %></b>
                <h3 class="title-up"><%= number_to_currency share_capital.balance %></h3>
                <small class="text-muted"><%= share_capital.share_capital_product_name %></small>
              </div>
              <div class="col-md-5">
                <br>
                <%= link_to 'Select Account', new_share_capital_balance_transfer_processing_path(origin_share_capital_id: @origin_share_capital.id, destination_share_capital_id: share_capital.id), id: "#{share_capital.id}-select-destination-account", class: 'btn btn-outline-danger float-right' %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="title-up"> Share Capitals </h3>

          <%= form_tag new_share_capital_balance_transfer_path(@origin_share_capital), method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Depositor ", id: 'share-capital-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-primary") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          <br>
          <% @share_capitals.each do |share_capital| %>
            <div class="row">
              <div class="col-md-7">
                <b><%= share_capital.subscriber_name %></b>
                <h3 class="title-up"><%= number_to_currency share_capital.balance %></h3>
                <small class="text-muted"><%= share_capital.share_capital_product_name %></small>
              </div>
              <div class="col-md-5">
                <br>
                <%= link_to 'Select Account', new_share_capital_balance_transfer_processing_path(origin_share_capital_id: @origin_share_capital.id, destination_share_capital_id: share_capital.id), id: "#{share_capital.id}-select-destination-account", class: 'btn btn-outline-danger float-right' %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <% if current_cart.voucher_amounts.present? %>
        <div class="card">
          <div class="card-body">
            <h3 class="title-up"> Voucher Details </h3>
            <% current_cart.voucher_amounts.debit.each do |amount| %>
              <div class="row">
                <div class="col-md-7">
                  <%= current_office.share_capitals.find_by(equity_account_id: amount.account_id).subscriber_name %>
                </div>
                <div class="col-md-4">
                  <span class="float-right">
                    <%= number_to_currency amount.amount %>
                  </span>
                </div>
                <div class="col-md-1">
                  <%=link_to share_capital_balance_transfer_processing_path(share_capital_id: @origin_share_capital.id, id: amount.id), method: :delete do %>
                    <i class="fa fa-times text-danger"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="row">
              <div class="col-md-7">
                Total
              </div>
              <div class="col-md-4">
                <span class="float-right">
                  <%= number_to_currency current_cart.voucher_amounts.debit.where(account: @origin_share_capital.share_capital_equity_account).total %>
                </span>
              </div>
            </div>
            <hr>
            <%= simple_form_for @balance_transfer_voucher, url: :share_capital_balance_transfer_vouchers do |f| %>
              <%= f.input :reference_number %>
              <%= f.input :description %>
              <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
              <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
              <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
              <%= f.input :share_capital_id, input_html: { value: @origin_share_capital.id }, as: :hidden %>
              <%= f.input :date, as: :string, input_html: { class: 'datepicker', value: Date.current.strftime("%B %e, %Y") } %>
              
              <%= f.submit 'Proceed', class: 'btn btn-danger btn-block' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
