<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Birthday Celebrants for <%= params[:id].to_date.strftime("%B %e, %Y") %></h3>
      </div>
      <div class="box-body">
        <% @members.each do |member| %>
          <%= render 'members/partials/header', member: member %>
        <% end %>
      </div>
    </div>
  </div>
</div>
