<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-8">
            <h3 class="card-title"> Share Capital Buid Up Details </h3>
          </div>
          <div class="col-md-4">
            <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
        <div class="card-body">

        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>

      <%= render 'vouchers/partials/body', voucher: @voucher %>
      <% if !@voucher.disbursed?%>
          <%= link_to "Confirm Transaction", share_capital_application_voucher_disbursements_path(voucher_id: @voucher.id, share_capital_application_id: @share_capital_application.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", share_capital_application_voucher_path(id: @voucher.id, share_capital_application_id: @share_capital_application.id), method: :delete, class: "btn text-danger float-left" %>
        </div>
      <% else %>
        <%= render 'vouchers/partials/status', voucher: @voucher %>
      <% end %>
    </div>
  </div>
</div>
