
<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <p><b>Search for Product</b></p>

        <%=form_tag new_supplier_purchase_path(@supplier), method: :get, class: "sidebar-form" do %>
          <div class="input-group">
            <% if @product.present? %>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            <% else %>
              <%= text_field_tag :search, params[:search], autofocus: true, class: "form-control", placeholder: "Search..." %>
            <% end %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
        <%= simple_form_for @line_item, url: :supplier_purchases do |f| %>
          <%= f.error_notification %>

          <% if @product.present? %>
            <%= f.input :product_id, input_html: { value: @product.id }, as: :hidden %>
            <%= @product.name %>
          <% else %>
            No Product Found.
          <% end %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: Time.zone.now.strftime("%B %e, %Y") } %>
          <%= f.input :quantity, input_html: { autofocus: true, id: 'stock_quantity', oninput: 'calculateTotalPurchaseCost()'} %>
            <% if @product.present?%>
          <%= f.input :unit_of_measurement_id, collection: @product.unit_of_measurements.map{|a| [a.quantity_and_code, a.id] } %>

              <%= f.input :unit_cost, label: "Purchase Cost", input_html: {id: 'stock_purchase_cost', oninput: 'calculateTotalPurchaseCost()', value: @product.purchases.order(date: :desc).first.try(:unit_cost) } %>

            <% end %>
          <%= f.input :total_cost, input_html: { id: 'stock_total_purchase_cost' }, readonly: true %>
          <% if params[:search].present? && !params[:search] == @product.name %>
            <%= f.input :barcode, input_html: { value: params[:search] } %>
          <% else %>
            <%= f.input :barcode %>
          <% end %>
          <%= f.input :commercial_document_id, input_html: { value: @supplier.id }, as: :hidden %>
          <%= f.input :commercial_document_type, input_html: { value: @supplier.class }, as: :hidden %>

 <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>

          <div class="box-footer">
            <%= f.submit "Save Stock", class: "btn btn-default btn-flat" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="box box-solid">
      <div class="box-header bg-olive">

           <h4><center><%= image_tag(@supplier.avatar.url(:medium), style: 'width:60px;height:60px;', class: 'media-object img-circle') %></center></h4>

            <h3><center><%= @supplier.business_name %></center></h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>QTY</th>

                <th>DESCRIPTION</th>
                <th><span class="pull-right">PURCHASE COST</span></th>
                <th><span class="pull-right">TOTAL COST</span></th>
              </tr>
            </thead>
            <tbody>
              <% @cart.line_items.each do |line_item| %>
                <tr>
                  <td>
                    <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                  </td>
                  <td>
                    <%= line_item.name %><br>
                    <small class="text-muted"><%= line_item.barcode %></small>
                  </td>
                  <td><span class="pull-right"> <%= number_to_currency line_item.unit_cost %></span></td>
                  <td><span class="pull-right"><%= number_to_currency line_item.total_cost %></span></td>
                  <td><%= link_to store_front_module_line_item_path(line_item), method: :delete do %>
                      <span class="fa fa-trash"></span>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <div class="row">
            <div class="col-md-6">
              <b>TOTAL</b>
            </div>
            <div class="col-md-5">
              <span class="pull-right">
                <%=number_to_currency @cart.line_items.pluck(:total_cost).sum%>
              </span>
            </div>
          </div>
          <hr>
          <%=form_tag new_supplier_purchase_path(@supplier), method: :get, class: "sidebar-form" do %>
            <div class="input-group">
                <%= text_field_tag :voucher_search, params[:voucher_number], autofocus: true, class: "form-control", placeholder: "Search Voucher Number..." %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
          <% if @voucher.present? && @voucher.disbursed? %>
      <div class="row">
        <div class="col-md-5">
          &nbsp; &nbsp; Description
        </div>
        <div class="col-md-5">
          <%= @voucher.description %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          &nbsp; &nbsp; Amount
        </div>
        <div class="col-md-5">
          <%= @voucher.entry.debit_amounts.sum(&:amount) %>
        </div>
      </div>
  <%= simple_form_for [@supplier, @purchase_order_processing], url: :store_front_module_purchase_order_processings do |f| %>
    <%= f.input :voucher_id, input_html: { value: @voucher.id }, as: :hidden %>
    <%= f.input :supplier_id, input_html: { value: @supplier.id }, as: :hidden %>
    <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
    <%= f.input :commercial_document_type, input_html: { value: "Supplier" }, as: :hidden %>
    <%= f.input :commercial_document_id, input_html: { value: @supplier.id }, as: :hidden %>
    <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
    <div class="box-footer">
      <% if @voucher.valid_for?(@cart) %>
        <%= f.submit "Process", class: "btn btn-disabled pull-right" %>
      <% else %>
        <span class="alert alert-warning"> This VOucher is alread used. </span>
      <% end %>
    </div>
  <% end %>
<% else %>
  No Voucher found.
<% end %>

      </div>
    </div>
  </div>
</div>
