<% breadcrumb :new_loans_module_loan_application_voucher, @loan_application %>
<div class="container">
  <div class="container-fluid">
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <%= image_tag(@loan_application.borrower_avatar, width: 45, height: 45, class: "img-circle") if @loan_application.borrower_avatar.attached? %>
          </div>
          <div class="col-md-11 col-sm-11">
            <h3 class="card-title no-margin-bottom"> <%= @loan_application.borrower_name %> </h3>
            
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> Loan Product </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.loan_product_name %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> Number of Days </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.number_of_days %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> Mode of Payment </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.mode_of_payment.titleize %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> Application Date </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.application_date.strftime("%B %e, %Y") %></div>
        </div>
        <div class="row min-margin">
          <div class="col-md-5 col-sm-6 offset-md-1"> Purpose of Loan </div>
          <div class="col-md-5 col-sm-6"> <%= @loan_application.purpose %></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3 class="card-title">Loan Amount </h3>
          </div>
          <div class="col-md-7 col-sm-6">
            <h3 class="card-title float-right number">
              <%#= simple_form_for @loan_application, url: :loans_module_loan_application_loan_amounts, html: { class: 'form-inline' } do |f| %>
              <%#= f.input :loan_amount, label: false %>
              <%#= f.submit "Edit" %>
              <%# end %>
              <%= number_to_currency @loan_application.loan_amount %></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-sm-6">
            <h3 class="card-title"> Interests </h3>
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-4 col-sm-4">
            First Year
          </div>
          <div class="col-md-4 col-sm-4">
            <%= number_to_currency @loan_application.first_year_principal_balance %>
          </div>
          <div class="col-md-3 col-sm-4">
            <%= number_to_currency @loan_application.first_year_interest %>
          </div>
        </div>
        <% if @loan_application.schedule_count >=24  %>
          <div class="row justify-content-end">
            <div class="col-md-4 col-sm-4">
              Second Year
            </div>
            <div class="col-md-4 col-sm-4">
            <%= number_to_currency @loan_application.second_year_principal_balance %>
          </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.second_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.schedule_count >= 36 %>
          <div class="row justify-content-end">
            <div class="col-md-4 col-sm-4">
              Third Year
            </div>
            <div class="col-md-4 col-sm-4">
            <%= number_to_currency @loan_application.third_year_principal_balance %>
          </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.third_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.schedule_count >= 48 %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Fourth Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.fourth_year_interest %>
            </div>
          </div>
        <% end %>
        <% if @loan_application.schedule_count >= 60 %>
          <div class="row justify-content-end">
            <div class="col-md-8 col-sm-6">
              Fifth Year
            </div>
            <div class="col-md-3 col-sm-6">
              <%= number_to_currency @loan_application.fifth_year_interest %>
            </div>
          </div>
        <% end %>
        <hr class="min-margin">
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            Total Interest
          </div>
          <div class="col-md-3 col-sm-6">
            <%= number_to_currency @loan_application.total_interest %>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            <span class="text-success">Prededucted </span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span class="text-success">
              <%= number_to_currency @loan_application.voucher_interest_amount %>
            </span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-8 col-sm-6">
            <span class="text-danger">Amortized </span>
          </div>
          <div class="col-md-3 col-sm-6">
            <span class="text-danger">
              <%= number_to_currency @loan_application.interest_balance %>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-header with-border">
        <h3 class="card-title"> Share Capital </h3>
      </div>
      <div class="card-body">
        <% @share_capitals.each do |share_capital| %>
          <div class="row">
            <div class="col-md-2">
              <% if share_capital.subscriber.avatar.attachment.present? %>
                <%= image_tag(share_capital.subscriber.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h3 class="card-title"><%= number_to_currency share_capital.balance %></h3>
              <span class="text-muted"><%= share_capital.subscriber_name %></span><br>
              <% if @loan_application.voucher_amounts.for_account(account: share_capital.share_capital_product_equity_account).present? %>
                <span class="text-success"> <i class="fa fa-plus"></i>
                <%= number_to_currency @loan_application.voucher_amounts.for_account(account: share_capital.share_capital_product_equity_account).where(commercial_document: share_capital).total %>
                </span>
              <% end %>
            </div>
            <div class="col-md-3">
               <%=link_to new_loans_module_loan_application_capital_build_up_processing_path(share_capital_id: share_capital.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Savings Accounts </h3>
      </div>
      <div class="card-body">
        <% @savings_accounts.each do |savings_account| %>
          <div class="row">
            <div class="col-md-2">
              <% if savings_account.depositor.avatar.attachment.present? %>
                <%= image_tag(savings_account.depositor.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>
              <% end %>
            </div>
            <div class="col-md-7">
              <h3 class="card-title">
                <%= number_to_currency savings_account.balance %>
              </h3>
                <span class="text-muted">
                  <%= savings_account.depositor_name %>
                </span>
              <br>
              <% if @loan_application.cart.voucher_amounts.for_account(account: savings_account.liability_account).present? %>
                <span class="text-success"> <i class="fa fa-plus"></i>
                <%= number_to_currency @loan_application.cart.voucher_amounts.for_account(account: savings_account.liability_account).total %>
                </span>
              <% end %>

            </div>
            <div class="col-md-2">
              <%=link_to new_loans_module_loan_application_savings_account_deposit_processing_path(saving_id: savings_account.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Cooperative Programs </h3>
      </div>
      <div class="card-body">
        <% current_cooperative.programs.each do |program| %>
          <%= program.name %>
          <%= program.amount %>
          <%=link_to new_loans_module_loan_application_program_payment_path(loan_application_id: @loan_application.id, program_id: program.id), data: { modal: true } do %>
            <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Previous Loans </h3>
      </div>
      <div class="card-body">
        <% @previous_loans.each do |loan| %>
          <div class="row">
            <div class="col-md-2">

                <%= image_tag(loan.borrower.avatar, style: 'width:40px;height:40px;', class: 'media-object img-circle') %>

            </div>
            <div class="col-md-7">
              <h3 class="card-title">
                <%= number_to_currency loan.principal_balance %>
              </h3>
                <span class="text-muted">
                  <i class="fa fa-user-circle"></i> <%= loan.borrower_name %><br>
                  <i class="fa fa-tag"></i> <%= loan.loan_product_name %>
                </span>
              <br>
              <% if @loan_application.voucher_amounts.for_account(account: loan.principal_account).present? %>
                <span class="text-danger"> <i class="fa fa-minus"></i>
                <%= number_to_currency @loan_application.voucher_amounts.for_account(account: loan.principal_account).where(commercial_document: loan).total %>
                </span>
              <% end %>

            </div>
            <div class="col-md-2">
              <%=link_to new_loans_module_loan_application_previous_loan_payment_processing_path(loan_id: loan.id, loan_application_id: @loan_application.id), data: { modal: true } do %>
                 <span class="btn btn-outline-warning float-right"><i class="fa fa-plus-circle"></i> Add Payment </span>
               <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
   
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Amortization Schedules </h3>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Date </th>
                <th> Principal </th>
                <th> Interest </th>
                <th> Total Repayment</th>
                <th> Loan Balance </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td><%= number_to_currency @loan_application.loan_amount %></td>
              </tr>
              <% @loan_application.amortization_schedules.order(date: :asc).each do |amortization_schedule| %>
                <tr>
                  <td><%= amortization_schedule.date.strftime("%B %e, %Y") %></td>
                  <td><%= number_to_currency amortization_schedule.principal %></td>
                  <td><%= number_to_currency amortization_schedule.interest %>
                    <% if amortization_schedule.prededucted_interest? %>
                      <span class="badge bg-danger"> Prededucted </span>
                    <% end %>
                  </td>
                  <td><%= number_to_currency amortization_schedule.total_repayment %></td>
                  <td><%= number_to_currency amortization_schedule.ending_balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

  </div>


  <div class="col-md-5">
    <div class="card card-outline card-primary">
      <div class="card-body">
        <center>
          <%= @loan_application.borrower_name.try(:upcase) %>
        </center>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <div class="row min-margin">
          <div class="col-md-6">
            <small class="text-info">LOAN AMOUNT</small>
          </div>
          <div class="col-md-4 offset-1">
            <span class="float-right">
              <%= number_to_currency @loan_application.loan_amount %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-1">
            <%= link_to new_loans_module_loan_application_voucher_amount_path(@loan_application), data: { modal: true } do %>
              <span class="float-left btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Add Charges">
                <i class="fa fa-plus-circle"></i> Other Deductions
              </span>
            <% end %>
          </div>
        </div>
        <br>
        <% if @loan_application.voucher_amounts.debit.present? %>
          <small class="text-danger">ADD-ONS</small>
          <% @loan_application.voucher_amounts.debit.each do |voucher_amount| %>
            <div class="row min-margin">
              <div class="col-md-5 offset-1">
                <%= voucher_amount.description %>
                <% if voucher_amount.debit? %>
                <span class="badge bg-success"> Addon </span>
                <% end %>
              </div>
              <div class="col-md-2">
                <%= link_to edit_loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id) do %>
                  <span data-toggle="tooltip" title="Edit Amount"><i class="fa fa-edit text-warning mr-2"></i>
                  </span>
                <% end %>
                <%= link_to loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id), method: :delete do %>
                  <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i>
                  </span>
                <% end %>
              </div>

              <div class="col-md-3">
                <span class="float-right">
                  <%= number_to_currency voucher_amount.amount %>
                </span>
              </div>

            </div>
          <% end %>
          <div class="row">
            <div class="col-md-7 offset-1">
              <small class="text-open-sans-regular">TOTAL ADD-ONS</small>
            </div>
            <div class="col-md-3">
              <span class="float-right text-danger">
                <%= number_to_currency @loan_application.voucher_amounts.debit.total %>
              </span>
            </div>
          </div>
        <% end %>


        <% if @loan_application.voucher_amounts.credit.present? %>
          <small class="text-danger">DEDUCTIONS</small>
          <% @loan_application.voucher_amounts.credit.order(:created_at).each do |voucher_amount| %>
            <div class="row min-margin">
              <div class="col-md-5 offset-1">
                <%= voucher_amount.description %>
              </div>
              <div class="col-md-2">
                <%= link_to edit_loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, loan_application_id: @loan_application.id) do %>
                  <span data-toggle="tooltip" title="Edit Amount"><i class="fa fa-edit text-warning mr-2"></i>
                  </span>
                <% end %>
                <%= link_to loans_module_loan_application_voucher_amount_path(id: voucher_amount.id, voucher_amount_id: voucher_amount.id, loan_application_id: @loan_application.id), method: :delete do %>
                  <span data-toggle="tooltip" title="Remove"><i class="fa fa-times text-danger"></i>
                  </span>
                <% end %>
              </div>

              <div class="col-md-3">
                <span class="float-right">
                  <%= number_to_currency voucher_amount.amount %>
                </span>
              </div>

            </div>
          <% end %>
          <div class="row">
            <div class="col-md-7 offset-1">
              <small class="text-open-sans-regular">TOTAL DEDUCTIONS</small>
            </div>
            <div class="col-md-3">
              <span class="float-right text-danger">
                <%= number_to_currency @loan_application.voucher_amounts.credit.total %>
              </span>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="text-success">NET PROCEED</span>
          </div>
          <div class="col-md-4 col-sm-6 offset-1">
            <span class="float-right number total"><b><%= number_to_currency @loan_application.net_proceed %></b></span>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <h4 class="card-title">Voucher Details</h4>
        <hr>
        <%= simple_form_for [@loan_application, @voucher], url: :loans_module_loan_application_vouchers, html: { autocomplete: 'off' } do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker", value: @loan_application.application_date.strftime("%B %e, %Y") } %>
          <%= f.input :cash_account_id, collection: Employees::EmployeeCashAccount.cash_accounts.map{ |a| [a.name, a.id] }, default: current_user.cash_accounts.first, hint: "Please select cash account for disbursement." %>
          <%= f.input :reference_number, required: true %>
          <%= f.input :description, input_html: { value: "#{@loan_application.loan_product_name} - #{@loan_application.purpose}" }, as: :text %>
          <%= f.input :preparer_id, input_html: { value: current_user.id }, as: :hidden %>

          <%= f.input :borrower_id, input_html: { value: @loan_application.borrower_id }, as: :hidden %>
          <%= f.input :borrower_type, input_html: { value: @loan_application.borrower.class.to_s }, as: :hidden %>
          <%= f.input :net_proceed, input_html: { value: @loan_application.net_proceed.round(2) }, as: :hidden %>

          <%= f.input :loan_application_id, input_html: { value: @loan_application.id }, as: :hidden %>
          <%= f.input :account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>
          <%= f.input :voucher_account_number, input_html: { value: SecureRandom.uuid }, as: :hidden %>

          <hr>
          <%= f.submit "Create Voucher", class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to 'Cancel', loans_module_loan_application_path(@loan_application), method: :delete, class: "btn float-left text-danger" %>
        <% end %>
      </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#loans_module_loan_applications_voucher_processing_cash_account_id").select2({
      theme: "bootstrap"
    });
  });
</script>
