<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h3 class="card-title"> Voucher Details </h3>
          </div>
          <div class="col-md-6 col-sm-6">

          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Voucher (PDF)', loans_module_loan_application_voucher_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-left" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <%= link_to 'View Schedule (PDF)', loans_module_loan_application_amortization_schedules_path(loan_application_id: @loan_application.id, id: @loan_application.voucher_id, format: "pdf"), class: "btn btn-default float-right" %>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <% if !@voucher.disbursed? %>
          <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
          <br>
        <% end %>
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
          <hr>
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <% if !@voucher.disbursed?%>
          <hr class="no-margin">
            <%= link_to "Cancel Voucher", loans_module_loan_application_path(@loan_application), method: :delete, class: "btn text-danger float-left" %>
            <%= simple_form_for [@voucher, @disbursement], url: :loans_module_loan_application_voucher_confirmations do |f| %>
              <%= f.input :disbursement_date, as: :string, input_html: { class: 'datepicker' } %>
            <% end %>
            <%= link_to "Disburse Voucher", loans_module_loan_application_voucher_confirmations_path(loan_application_id: @loan_application.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          </div>
        <% else %>
          <%= render 'vouchers/partials/status', voucher: @voucher %>
        <% end %>
      </div>
    </div>
  </div>
</div>
