<% content_for(:html_title) { "Sign In" } %>
<%= render 'home/shared/navbar' %>
<div class="container">
<br>
<br>
  <div class="row">
    <div class="col-md-4">
    </div>
  <div class="col-md-4">
    <%=render 'layouts/shared/flash_messages' %>
    <div class="card">
      <div class="card-header no-border">

        <br>
        <center>
        <%=image_tag("coopbooks.png", height:
           130, width: 130, class: 'img-circle') %>
      </center>
      <br>
      <br>
      </div>
      <div class="card-body">

      <%= simple_form_for(resource, as: resource_name, :url => session_path(resource_name),
        wrapper_mappings: {boolean: :vertical_boolean }, html: { autocomplete: 'off' }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, placeholder: "Email", input_html:{class: "form-control input-lg"}, label: false %>
        <%= f.input :password, placeholder: "Password",  input_html:{class: "form-control input-lg"}, label: false  %>

        <hr>
        <%= f.submit "Sign in", class: "btn btn-primary btn-flat btn-block btn-lg", data: {disable_with: "Signing in..."} %>
      <% end %>
      <br>
    </div>
  </div>
</div>
<%= render 'home/shared/footer' %>
