<li class= "nav-item">
  <a href="/members" class="nav-link <%= 'active' if current_page?(members_path) %>"><i class="nav-icon fa fa-users"></i> <span>Members </span></a>
</li>
<li class= "nav-item">
  <a href="/employees" class="nav-link <%= 'active' if current_page?(employees_path) %>"><i class="nav-icon fa fa-users"></i> <span>Employees</span></a>
</li>
<li class="nav-item">
  <a href="/share_capitals" class="nav-link <%= 'active' if current_page?(share_capitals_path) %>"><i class="nav-icon fa fa-briefcase"></i> <span> Share Capitals</span></a>
</li>
<li class="nav-item">
  <a href="/savings_accounts" class="nav-link <%= 'active' if current_page?(savings_accounts_path) %>"><i class="nav-icon fa fa-briefcase"></i> <span> Savings </span></a>
</li>
<li class="nav-item">
  <a href="/time_deposits" class="nav-link <%= 'active' if current_page?(time_deposits_path) %>"><i class="nav-icon fa fa-hourglass"></i> <span> Time Deposits </span></a>
</li>
<li class="nav-item">
  <a href="/loans" class="nav-link  <%= 'active' if current_page?(loans_path) %>"><i class="nav-icon fa fa-credit-card"></i> <span> Loans </span></a>
</li>
<li class='nav-item' >
  <a href="/loans_module/loan_applications" class="nav-link <%= 'active' if current_page?(loans_module_loan_applications_path) %>">
    <i class="nav-icon fa fa-credit-card"></i><span> Loan Applications</span>
  </a>
</li>
<li class="nav-item">
  <a href="/barangays" class="nav-link <%= 'active' if current_page?(barangays_path) %>"><i class="nav-icon fa fa-map-marker"></i> <span> Barangays </span></a>
</li>
<li class="nav-item">
  <a href="/organizations" class="nav-link <%= 'active' if current_page?(organizations_path) %>"><i class="nav-icon fa fa-sitemap"></i> <span> Organizations </span></a>
</li>
<li class="nav-item">
  <a href="/bank_accounts" class="nav-link <%= 'active' if current_page?(bank_accounts_path) %> "><i class="nav-icon fa fa-building"></i><span> Bank Accounts</span></a>
</li>
<li class="nav-item">
  <a href="/calendars" class="nav-link <%= 'active' if current_page?(calendars_path) %>"><i class="nav-icon fa fa-calendar"></i> <span> Birthday Calendar</span></a>
</li>
<li class="header"><hr class="no-margin-top"></li>
<li class="nav-item" >
  <a href="/accounting_module/entries" class="nav-link <%= 'active' if current_page?(accounting_module_entries_path) %>"><i class="nav-icon fa fa-list"></i> <span> Entries</span></a>
</li>
<li class="nav-item" >
  <a href="/accounting_module/accounts" class="nav-link <%= 'active' if current_page?(accounting_module_accounts_path) %>"><i class="nav-icon fa fa-circle"></i> <span> Accounts </span></a>
</li>

<li class="nav-item" >
  <a href="/accounting_module/reports" class="nav-link <%= 'active' if current_page?(accounting_module_reports_path) %>"><i class="nav-icon fa fa-book"></i> <span> Financial Reports </span></a>
</li>

<li class="nav-item">
  <a href="/management_module/settings" class="nav-link <%= 'active' if current_page?(management_module_settings_path) %>"><i class="nav-icon fa fa-cog"></i> <span> Settings</span></a>
</li>
