<% content_for(:html_title) { "Store Section" } %>

<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Store Section </h3>
      </div>
      <div class="card-body">
       <% if params[:search].present? %>
        <%=form_tag new_store_front_module_sales_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Products..." %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default") do %>
                <i class="fa fa-search"></i> Browse Products
              <% end %>
            </span>
          </div>
        <% end %>
        <% else %>
         <%=form_tag new_store_front_module_sales_line_item_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], autofocus: true,  class: "form-control", placeholder: "Search Products..."  %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-default") do %>
                <i class="fa fa-search"></i> Browse Products
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    </div>
      <% if @products.present? %>
        <%= render 'store_front_module/line_items/sales_line_items/searched_product_results' %>
      <% elsif @line_items.present? %>

        <%= render 'store_front_module/line_items/sales_line_items/searched_line_item_results' %>
      <% end %>
        <hr>
        <% if @sales_line_items.present? %>
          <p class="text-muted"> ORDER DETAILS </p>
          <div class="table table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><b>QTY</b></th>
                  <th><b>DESCRIPTION</b></th>
                  <th><span class="pull-right"><b>UNIT COST</b></span></th>
                  <th><span class="pull-right"><b>TOTAL COST</b></span></th>
                </tr>
              </thead>
              <tbody>


                <% @cart.sales_line_items.unprocessed.each do |line_item| %>
                  <tr>
                    <td>

                      <%= line_item.quantity %> <%= line_item.unit_of_measurement_code %>
                    </td>
                    <td width="300px"><%= line_item.name.try(:titleize) %>
                      <span class="text-muted"><%#= line_item.barcode %></span>
                    </td>
                    <td>
                      <span class="pull-right">

                        <%= number_to_currency line_item.unit_cost %></td>
                      </span>
                    <td>
                      <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
                    </td>
                    <td>
                    <%= link_to store_front_module_sales_line_item_path(line_item), method: :delete do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                <hr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>


  <div class="col-md-5">
    <div class="card card-solid">
      <% if @sales_line_items.present? %>
      <div class="card-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <h3><b> TOTAL </b></h3>
          </div>
          <div class="col-md-5">
            <h3><b><span class="pull-right"><%=number_to_currency @sales_line_items.unprocessed.total_cost %></span></b></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-footer">
          <%= simple_form_for @sales_order, url: :store_front_module_sales, html: { autocomplete: 'off' } do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
                  <%= f.input :customer_id, collection: Customer.all.map{ |a| [a.full_name, a.id] } %>
                  <div class="row">
                    <div class="col-md-8">
                      <%= f.input :cash_tendered, input_html: { id: 'cash_tendered', class: "form-control input-lg", oninput: 'calculateOrderTotalCost()',  class: "input-lg" } %>
                    </div>
                    <div class="col-md-4">
                      <%= f.input :discount_amount, label: "Discount", input_html: { id: 'discount_amount', oninput: 'calculateOrderTotalCost()', value: 0} %>
                    </div>
                  </div>
                  <%= f.input :order_change, readonly: true, input_html: { id: 'change', class: "input-lg bg-gray"} %>
                  <%= f.input :reference_number %>
                  <%= f.input :total_cost, input_html: { id: 'total_cost', value: @cart.total_cost }, as: :hidden %>
                  <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
                  <%= f.input :cart_id, input_html: { value: @cart.id }, as: :hidden %>
                  <% if current_user.cash_accounts.count == 1 %>
                    <%= f.input :cash_account_id, input_html: { value: current_user.default_cash_account.id } %>
                  <% else %>
                    <%= f.input :cash_account_id, collection: current_user.cash_accounts.map{|a| [a.name, a.id] }, default: current_user.default_cash_account %>
                  <% end %>
                  <%= f.submit "Save Order", class: "btn btn-lg btn-success btn-block" %>
        <% end %>
      </div>
      </div>
      <% else %>
        <center><%=image_tag('empty_cart.png', height: 160, width: 160) %></center>
      <% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#store_front_module_orders_sales_order_processing_customer_id").select2({
      theme: "bootstrap"
    });
  });
</script>
