<div class="card">
  <div class="card-body">
<div class="row">
  <div class="col-md-3 border-right">
    <h3> <%= @loans.uniq.count %></h3>
    <small>TOTAL LOANS</small>
  </div>
  <div class="col-md-9">
    <h3> <%= number_to_currency @barangay.loans.total_balance %></h3>
    <small>TOTAL LOAN BALANCE</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4> Loan Portfolio At Risk (Loan Count) </h4>
    <% par_data = [] %>
    <% par_data << { "1-60 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 60.days, to_date: Date.today - 1.days).uniq.count } %>
    <% par_data << { "61-180 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 180.days, to_date: Date.today - 61.days).uniq.count } %>
    <% par_data << { "181-363 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 363.days, to_date: Date.today - 181.days).uniq.count } %>
    <% par_data << { "Over 1 Year Past Due" => @loans.past_due_loans(from_date: Date.today - 999.years, to_date: Date.today - 364.days).uniq.count } %>
    <%= pie_chart (Hash[*par_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true %>
  </div>
  <div class="col-md-6">
    <h4> Loan Portfolio At Risk (Balances) </h4>
    <% par_balances_data = [] %>
    <% par_balances_data << { "31-60 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 60.days, to_date: Date.today - 1.days).uniq.sum(&:balance) } %>
    <% par_balances_data << { "61-180 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 180.days, to_date: Date.today - 61.days).uniq.sum(&:balance) } %>
    <% par_balances_data << { "181-363 Days Past Due" => @loans.past_due_loans(from_date: Date.today - 363.days, to_date: Date.today - 181.days).uniq.sum(&:balance) } %>
    <% par_balances_data << { "Over 1 Year Past Due" => @loans.past_due_loans(from_date: Date.today - 999.years, to_date: Date.today - 363.days).uniq.sum(&:balance) } %>
    <%= pie_chart (Hash[*par_balances_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h4>Current vs Past Due (Loan Count) </h4>
    <% count_current_vs_past_due_data = [] %>
    <% count_current_vs_past_due_data << { "Current Loans" => @loans.current_loans.uniq.count } %>
    <% count_current_vs_past_due_data << { "Past Due Loans" => @loans.past_due_loans.uniq.count } %>
    <%= pie_chart (Hash[*count_current_vs_past_due_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
  <div class="col-md-6">
    <h4>Current vs Past Due (Balances) </h4>
    <% current_vs_past_due_data = [] %>
    <% current_vs_past_due_data << { "Current Loans" => @loans.current_loans.uniq.sum(&:balance) } %>
    <% current_vs_past_due_data << { "Past Due Loans" => @loans.past_due_loans.uniq.sum(&:balance) } %>
    <%= pie_chart (Hash[*current_vs_past_due_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, thousands: "," %>
  </div>
</div>



<hr>
<h4> Porftfolio At Risk </h4>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th> Portfolio </th>
        <th> Balances </th>
        <th> Loan Count </th>
        <th> Percentage </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1-60 Days Past Due</td>
        <td><%= number_to_currency @loans.past_due_loans(from_date: Date.today - 60.days, to_date: Date.today - 1.days).sum(&:balance)  %></td>
        <td><%= @loans.past_due_loans(from_date: Date.today - 60.days, to_date: Date.today - 1.days).count %></td>
      </tr>
      <tr>
        <td> 61-180 Days Past Due</td>
        <td><%= number_to_currency @loans.past_due_loans(from_date: Date.today - 180.days, to_date: Date.today - 61.days).sum(&:balance)  %></td>
        <td><%= @loans.past_due_loans(from_date: Date.today - 180.days, to_date: Date.today - 61.days).count %></td>
      </tr>
      <tr>
        <td> 181 to 363 Days Past Due</td>
        <td><%= number_to_currency @loans.past_due_loans(from_date: Date.today - 363.days, to_date: Date.today - 181.days).sum(&:balance)  %></td>
        <td><%= @loans.past_due_loans(from_date: Date.today - 363.days, to_date: Date.today - 181.days).count %></td>
      </tr>
      <tr>
        <td> Above 1 Year Past Due</td>
        <td><%= number_to_currency @loans.past_due_loans(from_date: Date.today - 999.years, to_date: Date.today - 364.days).sum(&:balance)  %></td>
        <td><%= @loans.past_due_loans(from_date: Date.today - 999.years, to_date: Date.today - 364.days).count %></td>
      </tr>
      <tr>
        <td> Total Past Due</td>
        <td><%= number_to_currency @loans.past_due_loans.sum(&:balance)  %></td>
        <td><%= @loans.past_due_loans(from_date: Date.today - 999.years, to_date: Date.today.yesterday).count %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h4>Loans</h4>
<div class="table table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Borrower</th>
        <th>Loan Amount</th>
        <th>Payments</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= link_to loan.borrower_name, loan_path(loan) %></td>
          <td><%= number_to_currency loan.debits_balance %></td>
          <td><%= number_to_currency loan.credits_balance %></td>
          <td><%= number_to_currency loan.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
