<%= link_to 'Add Level One Account Category', new_accounting_module_accounting_report_level_one_account_category_path(@accounting_report) %>
<%= link_to 'Add Level Two Account Category', new_accounting_module_accounting_report_level_two_account_category_path(@accounting_report) %>
<%= link_to 'Add Level Three Account Category', new_accounting_module_accounting_report_level_three_account_category_path(@accounting_report) %>




<%= link_to 'PDF', accounting_module_accounting_report_path(@accounting_report, format: 'pdf') %>