<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Loan Payment Details
        <%=link_to 'View (PDF)', voucher_path(@voucher, format: "pdf"), class: "btn btn-default float-right" %>
       </h3>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>
        <br>
        <div class="card-body no-padding-top no-padding-bottom">
          <h3 class="card-title">Payment Breakdown </h3>
          <hr class="no-margin-top">
          <div class="row min-margin">
            <div class="col-md-3 offset-md-1">
              <h5 class="card-title">Principal</h5>
            </div>
            <div class="col-md-3">
              <h5 class="card-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.principal_account).total %>
              </h5>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-3 offset-md-1">
              <h5 class="card-title">Interest</h5>
            </div>
            <div class="col-md-3">
              <h5 class="card-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.interest_revenue_account).sum(&:amount) %>
              </h5>
            </div>
          </div>
          <div class="row min-margin">
            <div class="col-md-3 offset-md-1">
              <h5 class="card-title">Penalty</h5>
            </div>
            <div class="col-md-3">
              <h5 class="card-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.for_account(account: @loan.penalty_revenue_account).total %>
              </h5>
            </div>
          </div>
          <hr class="min-margin">
          <div class="row min-margin">
            <div class="col-md-3 offset-md-1">
              <h5 class="card-title">Total</h5>
            </div>
            <div class="col-md-3">
              <h5 class="card-title float-right">
                <%= number_to_currency @voucher.voucher_amounts.debit.total %>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <hr class="no-margin">
      <div class="card-body">
      <%= render 'vouchers/partials/body', voucher: @voucher %>

        <% if !@voucher.disbursed?%>
          <%= link_to "Confirm", loan_payment_voucher_confirmations_path(loan_id: @loan.id, payment_voucher_id: @voucher.id, schedule_id: params[:schedule_id]), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to voucher_path(@voucher), method: :delete do %>
            <span class=" btn text-danger" data-toggle="tooltip" title="If errors are found, click 'Cancel' to cancel this transaction"> Cancel </span>
          <% end %>
        <% else %>
          <span class="badge bg-success float-right"> Disbursed </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
