<br>
    <footer class="bd-footer">
  <div class="container-fluid p-3 p-md-5">
    <p> Your Technology Partner: <a href="https://twitter.com/von_halip" target="_blank" rel="noopener">Kiphodan Digital Inc.</a> | <%= link_to 'About Us', about_index_path %>
  </div>
</footer>
