<div class="container">
  <div class="card">
    <div class="card-header">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title-up">Income Statement - <%= @office.name %> </h3>
        Date Covered: <%= @from_date.strftime("%B %e, %Y") %> -
        <%= @to_date.strftime("%B %e, %Y") %>
        <br>
        <% current_cooperative.offices.each do |office| %>

        <%= link_to office.name, accounting_module_reports_income_statements_path(office_id: office.id), class: "btn btn-outline-primary btn-sm" %>
        <% end %>
        <%#= link_to "All Offices", accounting_module_reports_income_statements_path, class: "btn btn-outline-primary btn-sm" %>

      </div>
      <div class="col-md-6">
        <%= form_tag({:action => 'index'}, {:method => :get, class: "form-inline"}) do %>

          <%= text_field_tag :from_date, @from_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>
          <%= text_field_tag :to_date,   @to_date.strftime("%B %e, %Y"), :class => 'datepicker form-control', :placeholder => "To" %>

          <%= hidden_field_tag :office_id, @office.id %>
          <button type="submit" class="btn btn-primary">Generate</button>
        <% end %>
      </div>
      <div class="col-md-2">
        Export To:
        <%= link_to 'Excel', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'xlsx', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to 'PDF', accounting_module_reports_income_statements_path(office_id: @office.id, format: 'pdf', from_date: @from_date, to_date: @to_date ), class: 'btn btn-outline-primary btn-sm' %>


      </div>
    </div>
  </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">

        </div>
        <div class="col-md-5">
          <%= @from_date.strftime('%B %e, %Y') %>-
          <%= @to_date.strftime('%B %e, %Y') %>
        </div>
      </div>
      <%= render 'accounting_module/reports/income_statements/partials/revenues' %>
      <%= render 'accounting_module/reports/income_statements/partials/expenses' %>
      <%= render 'accounting_module/reports/income_statements/partials/net_surplus' %>
