<%= simple_form_for @loan_aging_group, url: :loans_module_settings_loan_aging_group do |f| %>
  <%= f.input :title %>
  <%= f.input :start_num %>
  <%= f.input :end_num %>
  <%= f.input :level_two_account_category_id, collection: current_office.level_two_account_categories.assets.map{ |a| [a.title, a.id] }, input_html: { class: 'chosen-select' }, default: @loan_aging_group.level_two_account_category %>
  
  <%= f.submit 'Update Loan Aging Group' %>
<% end %>
