<div class="card">
  <div class="card-header">
    <h4 class="title-up"> Accounting Section Reports </h4>
  </div>
  <div class="card-body">
  <%= link_to accounting_module_reports_statement_of_operations_path do %>
      <b>Statement of Operation</b>
      <p class="text-muted">Generate report for statement of operations. </p>
    <% end %>
    <hr>
    <%= link_to accounting_module_reports_income_statements_path do %>
      <b>Income Statement</b>
      <p class="text-muted"> Generate report for income statement. </p>
    <% end %>
    <hr>
    <%= link_to accounting_module_reports_balance_sheets_path do %>
      <b>Balance Sheet</b>
      <p class="text-muted">Generate report for balance sheet statement. </p>
    <% end %>

    <%= link_to accounting_module_reports_trial_balances_path do %>
      <h4 class="title-up">Trial Balance</h4>
      <p class="text-muted">Generate report for trialb balance of accounts. </p>
    <% end %>

    <h4 class="title-up">Proofsheet Report</h4>
    <p class="text-muted">Generate report for consolidated proofsheet report. </p>
     <%= form_tag({ controller: 'accounting_module/reports/proofsheets', action: 'index', format: 'pdf'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
        <%= label_tag :to_date, nil, class: 'sr-only'%>
        <%= text_field_tag :to_date, Time.zone.now.strftime("%B %e, %Y"), :class => 'datepicker form-control' %>
      </div>
      <button type="submit" class="btn btn-default">Get Report</button>
    <% end %>