<% breadcrumb :savings_account_merging, @current_saving %>
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <%= render "savings_accounts/shared/savings_info_header", savings_account: @current_saving %>
      </div>
      <div class="card-body">
        <%= render "savings_accounts/shared/savings_info_body", savings_account: @current_saving %>
      </div>
      <% if current_cart.savings.present? %>
        <hr class="no-margin">
        <div class="card-body">
          <h4>Accounts to be Merged</h4>
          <i class="fa fa-info-circle text-danger"></i> <span class="text-danger">Please be careful in selecting accounts to be merged. Once the account is merged it can not be undone. </span>
          <hr>
          <% current_cart.savings.each do |saving| %>
            <div class="row">
              <div class="col-md-6 col-sm-7">
                <h4 class="card-title"><%= saving.depositor_name %></h4>
                <small>Account Hash</small><br>
                <%= saving.account_number %>
              </div>
              <div class="col-md-5 col-sm-5 text-right">
                <small>BALANCE</small>
                <h3 class="number text-success">
                  <%= number_to_currency saving.balance %>
                </h3>
              </div>
              <div class="col-md-1 col-sm-1">
                <%= link_to savings_account_merging_line_item_path(id: saving.id, saving_id: saving.id, current_saving_id: @current_saving.id), method: :delete, class: "btn btn-danger btn-sm" do %>
                    <i title="Remove" data-toggle="tooltip" class="fa fa-times float-right"></i>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
          <% if current_cart.savings.present? %>
            <%= simple_form_for @merging, url: :savings_account_account_mergings do |f| %>
              <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
              <%= f.input :saving_id, input_html: { value: @current_saving.id }, as: :hidden %>
              <hr>
              <%= f.submit "Merge Accounts", class: "btn btn-danger btn-block" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title"> Accounts Merge </h3>
        <p class="no-margin-bottom">Please select savings accounts below to be merged.</p>
      </div>
      <div class="card-body">
        <%=form_tag new_savings_account_merging_line_item_path(@current_saving), method: :get, class: "search-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search First Name or Last Name ", id: 'account-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <hr class="no-margin">
      <div class="card-body">
        <% @savings_accounts.where.not(id: @current_saving.id).each do |saving| %>
          <% if !current_cart.savings.include?(saving) %>
          <div class="row">
            <div class="col-md-8">
              <h4 class="no-margin"><%= number_to_currency saving.balance %></h4>
              <p class="no-margin-bottom"><%= saving.depositor_name.try(:upcase) %></p>
              <small><%= saving.saving_product_name %></small>
            </div>
            <div class="col-md-3">
              <%= simple_form_for @merging_line_item, url: :savings_account_merging_line_items do |f| %>
                <%= f.input :cart_id, input_html: { value: current_cart.id }, as: :hidden %>
                <%= f.input :old_saving_id, input_html: { value: saving.id }, as: :hidden %>
                <br>
                <%= f.submit "Select", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
          <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

