<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    New Charge Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<%= simple_form_for [@loan_product, @charge], html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: :management_module_settings_loan_product_charges do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.input :charge_type, collection: LoansModule::LoanProducts::LoanProductCharge.charge_types.keys.to_a.map{|a| [a.titleize, a] }, as: :radio_buttons, checked: LoansModule::LoanProducts::LoanProductCharge.charge_types.first, input_html: {class: "charge-type"} %>
    <%= f.input :name %>
    <div class="percent_based rate" style="display:none;">
      <%= f.input :rate, input_html: { value: 0 } %>
    </div>
    <div class="amount_based rate">
      <%= f.input :amount, input_html: { value: 0 } %>
    </div>
    <%= f.input :account_id, collection: current_cooperative.accounts.active.uniq.map{|a| [a.name, a.id]} %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Charge", class: "btn btn-danger float-right" %>
  </div>
<% end %>

<script type="text/javascript">
  $('.charge-type').on('change', function() {
    var inputValue = $(this).attr("value");
    var targetDiv = $("." + inputValue);
    $(".rate").not(targetDiv).hide();
    $(targetDiv).show();
  });
</script>
