<% content_for(:html_title) { "Withdrawal Transaction | #{@savings_account.depositor_name}" } %>

<div class="col-md-8 offset-md-2">
    <div class='card'>
      <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <%= image_tag(@savings_account.avatar, width: 60, height: 60, class: "img-circle") if @savings_account.avatar.attached? %>
        </div>
        <div class="col-md-6 col-sm-10">
          <h4 class="subtitle-up"> <%= @savings_account.depositor_name.upcase %> </h4>
          <small class="text-muted">
      <i class="fa fa-map-marker"></i> <%= @savings_account.depositor.current_address_complete_address %> &nbsp; &nbsp;
      <div class="min-margin"></div>

      <i class="fa fa-phone"></i> <%= @savings_account.depositor.current_contact_number %></i> &nbsp; &nbsp;
      <div class="min-margin"></div>

      <i class="fa fa-clock"></i> Last Transaction: <%= @savings_account.last_transaction_date.strftime('%B %e, %Y') %></small>
    </small>
        </div>
        <div class='col-md-4'>
          <small class='text-muted'><%= @savings_account.saving_product_name.upcase %></small>
          <h3 class="title-up no-margin-bottom"> <%= number_to_currency @savings_account.balance %> </h3>
        </div>
      </div>

      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>

          
        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <hr>
        <% if @voucher.accounting_entry.blank? %>
          <%= link_to "Confirm Transaction", savings_account_voucher_confirmations_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <%= link_to "Cancel", savings_account_deposit_voucher_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
