<% breadcrumb :share_capital_settings, @share_capital %>
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title mb-3"> Update Beneficiary/ies </h3>
      <div class="row justify-content-end">
        <div class="col-md-11">
          <% if @share_capital.beneficiaries.present? %>
            <% @share_capital.beneficiaries.try(:split, (",")).each do |beneficary| %>
              <span class="fa fa-user"> </span> <%= beneficary %><br>
            <% end %>
          <% else %>
            <small class="text-muted">None</small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%=link_to "Update", edit_share_capital_beneficiary_path(id: @share_capital.id), class: "btn btn-outline-danger", data: {modal:true} %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title mb-3"> Update MAF Beneficiary/ies </h3>
      <div class="row justify-content-end">
        <div class="col-md-11">
          <% if @share_capital.maf_beneficiaries.present? %>
            <% @share_capital.maf_beneficiaries.try(:split, (",")).each do |beneficary| %>
              <span class="fa fa-user"> </span> <%= beneficary %><br>
            <% end %>
          <% else %>
            <small class="text-muted">None</small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%=link_to "Update", edit_share_capital_maf_beneficiary_path(id: @share_capital.id), class: "btn btn-outline-danger", data: {modal:true} %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
	    <h4 class="card-title"> Merge Account </h4>
      <span class="text-muted">Merge share capital accounts that are duplicated. </span>
    </div>
    <div class="col-md-3">
      <% if policy([:share_capitals, :account_merging]).new? %>
        <%= link_to "Merge Account", new_share_capital_merging_line_item_path(@share_capital), class: "btn btn-outline-danger" %>
      <% else %>
         <span class="text-danger"> Only General Manager account can do this action. </span>
      <% end %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title"> Balance Transfer </h3>
      <p class="text-muted"> Transfer balance to another share capital account </p>
    </div>
    <div class="col-md-3">
      <% if policy([:share_capitals, :balance_transfer]).new? %>
	      <%= link_to "Balance Transfer", new_share_capital_balance_transfer_path(@share_capital), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
      <% end %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
	    <h4 class="card-title">Barangay Details</h4>
	    <span class="text-muted"> Set barangay for this share capital </span><br>
      <b>BARANGAY</b>
      <%= @share_capital.barangay_name %>
      <br>
    </div>
    <div class="col-md-3">
      <%= link_to 'Set Barangay', edit_share_capital_barangay_path(id: @share_capital.id), class: "btn btn-outline-danger", data: {modal:true} %>
    </div>
  </div>
</div>
<hr class="no-margin">
<div class="card-body">
  <div class="row">
    <div class="col-md-9">
	    <h3 class="card-title">Adjustment Entries</h3>
    	<p class="text-muted">
    	  Make adjusting entries for this share capital.
    	</p>
    </div>
    <div class="col-md-3">
    	<% if current_user.bookkeeper? || current_user.accountant? %>
    	  <%=link_to "New Adjusting Entry", new_accounting_module_commercial_document_adjusting_entry_line_item_path(commercial_document_type: @share_capital.class.to_s, commercial_document_id: @share_capital.id), class: "btn btn-sm btn-danger", 'data-turbolinks' => false %>
      <% else %>
        <span class="text-danger"> Only Accountant / Bookkeeper account can do this action. </span>
    	<% end %>
    </div>
  </div>
</div>

<%= link_to 'Withdraw Capital', new_share_capital_withdrawal_path(@share_capital) %>
